<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="google-site-verification" content="-x_Oa45b_AIxMTNGlbHT6yiZjUZZhMZtlLDT1xO4l9A">
		<link rel="shortcut icon" href="/img/favicon.ico"/>
		{% if home_header %}
			<title>{{home_header[0].meta_title}}</title>
			<meta name="description" content="{{home_header[0].meta_description}}">
			<meta property="og:title" content="{{home_header[0].meta_title}}" />
        	<meta property="og:description" content="{{home_header[0].meta_description}}" />
		{% else %}
			<title>{{ meta_title || "Strangelove digital agency Amsterdam" }}</title>
			<meta name="description" content="{{ meta_description || 'Strangelove is a creative agency in Amsterdam with a focus on business development, branding and digital development.' }}">
			<meta property="og:title" content="{{ meta_title || "Strangelove digital agency Amsterdam" }}" />
        	<meta property="og:description" content="{{ meta_description || 'Strangelove is a creative agency in Amsterdam with a focus on business development, branding and digital development.' }}" />
		{% endif %}
		<meta property="og:site_name" content="Strangelove digital agency Amsterdam" />
        <meta property="og:image" content="http://www.strangelove.nl/img/strangelove-logo-og.jpg" />

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
		{% block stylesheets %}{% endblock %}
	</head>
	{% block bodytag %}
		<body>
	{% endblock %}
		<header class="header-main">
			<div class="wrap">
				<p class="logo"><a href="/">Strangelove</a></p>
				<a class="show-menu" href="#">Menu</a>
				<nav class="nav-primary">
					<ul>
						{% for item in navigation['main-en'] %}
							{% if item.id == '55' || item.id == '56' %}
								{% set classAttr = ' class=mobile-hide' %}
							{% else %}
								{% set classAttr = '' %}
							{% endif %}
							<li{{classAttr}}><a href="{{item.uri}}">{{item.title}}{% if item.id == "58" %}<span class="count">{{home_jobs.length}}</span>{% endif %}</a></li>
						{% endfor %}
					</ul>
				</nav>
			</div>
		</header>

		{% block content %}{% endblock %}

		<footer class="footer-main">
			<div class="wrap">
				<div class="footer-col">
					<div class="identity">
						<p class="logo"><a href="/">Strangelove</a></p>
						<p class="slogan">simplicity works</p>
						<ul class="social">
							<li><a target="_blank" href="https://angel.co/strangelove" class="angellist">AngelList</a></li>
							<li><a target="_blank" href="https://github.com/strangelove" class="github">GitHub</a></li>
							<li><a target="_blank" href="http://careers.stackoverflow.com/company/strangelove" class="stackoverflow">Stack Overflow</a></li>
							<li><a target="_blank" href="http://www.glassdoor.com/Overview/Working-at-Strangelove-EI_IE840384.11,22.htm" class="glassdoor">Glassdoor</a></li>
							<li><a target="_blank" href="https://twitter.com/strangelove_nl" class="twitter">Twitter</a></li>
							<li><a target="_blank" href="https://www.linkedin.com/company/602993" class="linkedin">LinkedIn</a></li>
							<li><a target="_blank" href="https://www.facebook.com/strangelovecreatives" class="facebook">Facebook</a></li>
						</ul>
						<p class="copyright">&copy; {{Date()|date('Y')}} - All Rights Reserved</p>
					</div>
				</div>
				<nav class="footer-col">
					<h4>This site</h4>
					<ul>
						{% for item in navigation['footer-main-en'] %}
						<li><a href="{{item.uri}}">{{item.title}}</a></li>
						{% endfor %}
					</ul>
				</nav>
				<nav class="footer-col">
					<h4>More</h4>
					<ul>
						{% for item in navigation['footer-more-en'] %}
							{% if item.id == "64" || item.id == "63" %}
								<li class="disabled">{{item.title}}</li>
							{% else %}
								<li><a href="{{item.uri}}" target="_blank">{{item.title}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</nav>
				<div class="footer-col extra">
					<h4>CoC/VAT</h4>
					<p>
						55431194<br>
						NL820375664B01
					</p>
					<h4>VEA member</h4>
					<a href="http://www.vea.nl/" class="vea" target="_blank"></a>
				</div>
			</div>
		</footer>
		<div class="back-to-top"><a href="#">Back to top</a></div>
		{% block scripts %}{% endblock %}
		{% block analytics %}
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-15613438-1', 'auto');
			ga('send', 'pageview');
		</script>
		{% endblock %}
	</body>
</html>
