<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>STRANGELOVE</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% block stylesheets %}
			<link rel="stylesheet" href="/css/site.css">
		{% endblock %}
	</head>

	{% block bodytag %}
		<body>
	{% endblock %}
		<header class="header-main">
			<div class="wrap">
				<p class="logo"><a href="#">Strangelove</a></p>
				<nav class="nav-primary">
					<ul>
						<li><a href="/#services">Services</a></li>
						<li><a href="/#about">About</a></li>
						<li><a href="/#cases">Cases</a></li>
						<li><a href="/#clients">Clients</a></li>
						<li><a href="/#team">Team</a></li>
						<li><a href="/#office">Office</a></li>
						<li><a href="/#jobs">Jobs <span class="count">2</span></a></li>
						<li><a href="/#contact">Contact</a></li>
					</ul>
				</nav>
			</div>
		</header>

		{% block content %}{% endblock %}

		<footer class="footer-main">
			<div class="wrap">
				<div class="footer-col">
					<p class="logo">Strangelove</p>
					<p class="slogan">Simplicity Works</p>
					<ul class="social">
						<li><a href="#" class="twitter">Twitter</a></li>
						<li><a href="#" class="facebook">Facebook</a></li>
						<li><a href="#" class="linkedin">LinkedIn</a></li>
					</ul>
					<p class="copyright">&copy; 2014 - All Rights Reserved</p>
				</div>
				<nav class="footer-col">
					<h4>This site</h4>
					<ul>
						<li><a href="#about">About</a></li>
						<li><a href="#cases">Cases</a></li>
						<li><a href="#office">Office</a></li>
						<li><a href="#team">Team</a></li>
						<li><a href="#jobs">Jobs</a></li>
					</ul>
				</nav>
				<nav class="footer-col">
					<h4>More</h4>
					<ul>
						<li><a href="#about">Dutch Site</a></li>
						<li><a href="#cases">Strange.Lab</a></li>
						<li><a href="#office">Mixed Tapes</a></li>
						<li><a href="#team">Disclaimer</a></li>
						<li><a href="#jobs">Terms &amp; Conditions</a></li>
					</ul>
				</nav>
				<div class="footer-col">
					<h4>KVK/BTW</h4>
					<p>
						55431194<br>
						NL820375664B01
					</p>
					<h4>VEA member</h4>
					<img src="/img/logo-vea.png" alt="VEA">
				</div>
			</div>
		</footer>
		<script src="https://maps.googleapis.com/maps/api/js"></script>
		<script src="/js/site.js"></script>
	</body>
</html>
