<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>STRANGELOVE</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block stylesheets %}{% endblock %}
	</head>

	{% block bodytag %}
		<body>
	{% endblock %}
		<header class="header-main">
			<div class="wrap">
				<p class="logo"><a href="/">Strangelove</a></p>
				<nav class="nav-primary">
					<ul>
						{% for item in navigation['main-en'] %}
						<li><a href="{{item.uri}}">{{item.title}}</a></li>
						{% endfor %}
					</ul>
				</nav>
			</div>
		</header>

		{% block content %}{% endblock %}

		<footer class="footer-main">
			<div class="wrap">
				<div class="footer-col">
					<p class="logo"><a href="/">Strangelove</a></p>
					<p class="slogan">Simplicity Works</p>
					<ul class="social">
						<li><a href="https://angel.co/strangelove" class="angellist">AngelList</a></li>
						<li><a href="https://github.com/strangelove" class="github">GitHub</a></li>
						<li><a href="http://careers.stackoverflow.com/company/strangelove" class="stackoverflow">Stack Overflow</a></li>
						<li><a href="http://www.glassdoor.com/Overview/Working-at-Strangelove-EI_IE840384.11,22.htm" class="glassdoor">Glassdoor</a></li>
						<li><a href="https://twitter.com/strangelove_nl" class="twitter">Twitter</a></li>
						<li><a href="https://www.linkedin.com/company/602993" class="linkedin">LinkedIn</a></li>
						<li><a href="https://www.facebook.com/strangelovecreatives" class="facebook">Facebook</a></li>
					</ul>
					<p class="copyright">&copy; {{Date()|date('Y')}} - All Rights Reserved</p>
				</div>
				<nav class="footer-col">
					<h4>This site</h4>
					<ul>
						{% for item in navigation['footer-main-en'] %}
						<li><a href="{{item.uri}}">{{item.title}}</a></li>
						{% endfor %}
					</ul>
				</nav>
				<nav class="footer-col">
					<h4>More</h4>
					<ul>
						{% for item in navigation['footer-more-en'] %}
						<li><a href="{{item.uri}}">{{item.title}}</a></li>
						{% endfor %}
					</ul>
				</nav>
				<div class="footer-col">
					<h4>KVK/BTW</h4>
					<p>
						55431194<br>
						NL820375664B01
					</p>
					<h4>VEA member</h4>
					<a href="http://www.vea.nl/" class="vea" target="_blank"></a>
				</div>
			</div>
		</footer>
		{% block scripts %}{% endblock %}
	</body>
</html>
