.about {
	.wrap {
		position: relative;
	}
	.slides {
		max-width: 800px;
		margin: 76px auto 0;
		text-align: center;
	}
	.slides-prev, .slides-next {
		position: absolute;
		width: 36px;
		height: 76px;
		margin: 200px 0 0;
		text-indent: -999em;
	}
	.slides-prev {
		left: 0;
		background: rgba(255, 255, 255, .3);
	}
	.slides-next {
		right: 0;
		background: rgba(255, 255, 255, .3);
	}
	.slides-tabs {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		font: 700 18px 'Ubuntu';
		letter-spacing: 3px;
		line-height: 58px;
		text-transform: uppercase;
		ul {
			overflow: hidden;
		}
		li {
			display: inline;
			margin: 0 0 0 110px;
			opacity: .2;
			&:first-child {
				margin-left: 0;
			}
			&.active {
				opacity: 1;
			}
		}
	}
	.slides-contents {
		padding: 70px 0 0;
		article {
			padding: 0 170px;
		}
	}
}
