.about {
	&:hover {
		.slides-prev, .slides-next {
			opacity: 1;
		}
	}
	.read-more {
		font-style: italic;
		&:after {
			content: '→';
			position: relative;
			top: 2px;
			margin: 0 0 0 10px;
			font-size: 18px;
		}
	}
}
