.cases-mobile {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		position: relative;
	}
	img {
		display: block;
		width: 100%;
	}
	.case-content {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 72px 0 0;
		color: #fff;
		text-align: center;
	}
	h3 {
		margin: 0 0 24px;
		font-size: 18px;
	}
	.view {
		display: inline-block;
		padding: 0 36px;
		border: 2px solid #fff;
		color: #fff;
		font: 15px Ubuntu;
		letter-spacing: 4px;
		line-height: 36px;
		text-transform: uppercase;
	}
	.case-2 {
		.case-content {
			color: #000;
		}
		.view {
			color: #000;
			border-color: #000;
		}
	}
	@media screen and (min-width: 768px){
		ul {
			overflow: hidden;
		}
		li {
			float: left;
			width: 50%;
		}
	}
	@media screen and (min-width: 1024px) {
		display: none;
	}
}

.cases {
	display: none;
	min-height: 100%;
	height: 800px;
	.wrap {
		position: relative;
		height: 100%;
	}
	.slides {
		position: absolute;
		top: 100px;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.slides-contents {
		article {
			position: absolute;
			top: 0;
			right: 30px;
			left: 30px;
			bottom: 175px;
			background: #fff;
		}
		.summary {
			position: absolute;
			top: 25%;
			width: 460px;
		}
		h3 {
			font-size: 36px;
			letter-spacing: 5px;
			line-height: 42px;
			&:after {
				content: ' ';
				display: block;
				width: 30px;
				height: 4px;
				margin: 30px 0 18px;
				background: #f36523;
			}
		}
		p {
			width: 270px;
			font-style: italic;
			opacity: .75;
		}
		.more {
			font-style: italic;
			@include transition(opacity .2s ease-in-out);
			&:after {
				content: '→';
				position: relative;
				top: 2px;
				margin: 0 0 0 10px;
				font-size: 18px;
			}
			&:hover {
				opacity: .6;
			}
		}
		.asset {
			position: absolute;
			top: 0;
			right: 0;
			width: 700px;
			height: 100%;
			background: no-repeat right top;
			background-size: contain;
		}
		.case-3 {
			a {
				color: #f26522;
			}
			h3:after {
				background: #f26522;
			}
			.asset {
				background-image: url(/img/asset-pbcf.png);
			}
		}
		.case-7 {
			a {
				color: #009f4e;
			}
			h3:after {
				background: #009f4e;
			}
			.asset {
				background-image: url(/img/asset-litedark.png);
			}
		}
		.case-8 {
			a {
				color: #3bc1f0;
			}
			h3:after {
				background: #3bc1f0;
			}
			.asset {
				background-image: url(/img/asset-slimleren.png);
			}
		}
		.case-2 {
			a {
				color: #f47318;
			}
			h3:after {
				background: #f47318;
			}
			.asset {
				background-image: url(/img/asset-ing.png);
			}
		}
		.case-1 {
			a {
				color: #0078c1;
			}
			h3:after {
				background: #0078c1;
			}
			.asset {
				background-image: url(/img/asset-kpmg.png);
			}
		}
	}
	.slides-tabs {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		font-style: italic;
		ul {
			text-align: center;
		}
		li {
			display: inline-block;
			width: 139px;
			height: 175px;
			margin: 0 0 0 80px;
			&:first-child {
				margin-left: 0;
			}
		}
		a {
			position: relative;
			display: block;
			width: 150px;
			height: 100px;
			color: #333;
			opacity: 1;
			&:before, &:after {
				content: ' ';
				position: absolute;
				top: 0;
				left: 0;
				width: 139px;
				height: 117px;
			}
			&:before {
				z-index: 1;
				background: url(/img/cases/buttons/bg.png);
			}
			&:after {
				z-index: 3;
			}
			&.case-3:after {
				background: url(/img/cases/buttons/3_mask.png);
			}
			&.case-7:after {
				background: url(/img/cases/buttons/7_mask.png);
			}
			&.case-8:after {
				background: url(/img/cases/buttons/8_mask.png);
			}
			&.case-2:after {
				background: url(/img/cases/buttons/2_mask.png);
			}
			&.case-1:after {
				background: url(/img/cases/buttons/1_mask.png);
			}
			img {
				position: relative;
				z-index: 2;
				width: 139px;
				height: 117px;
				-webkit-transition: -webkit-transform .15s ease-out;
			}
			span {
				overflow: hidden;
				display: block;
				text-overflow: ellipsis;
				white-space: nowrap;
				&:before {
					content: '';
					position: absolute;
					z-index: 4;
					left: 50%;
					bottom: 100%;
					width: 22px;
					height: 10px;
					margin: 0 0 0 -11px;
					background: url(/img/arrow-down-small.png);
					opacity: 0;
					@include transition(opacity .2s ease-in-out);
				}
			}
			&.active span:before {
				opacity: 1;
			}
			&:hover img {
				-webkit-transform: translateX(-6px);
			}
		}
		img {
			display: block;
		}
	}
	@media screen and (min-width: 1024px) {
		display: block;
	}
}
