.cases {
	min-height: 100%;
	.wrap {
		position: relative;
		height: 100%;
	}
	.slides {
		position: absolute;
		top: 100px;
		right: 0;
		bottom: 60px;
		left: 0;
	}
	.slides-contents {
		article {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}
		.summary {
			position: absolute;
			top: 25%;
			width: 460px;
		}
		h3 {
			font-size: 36px;
			letter-spacing: 5px;
			line-height: 42px;
			&:after {
				content: ' ';
				display: block;
				width: 30px;
				height: 4px;
				margin: 30px 0 18px;
				background: #f36523;
			}
		}
		p {
			width: 270px;
			font-style: italic;
			opacity: .75;
		}
		.more {
			font-style: italic;
			&:after {
				content: '→';
				position: relative;
				top: 2px;
				margin: 0 0 0 10px;
				font-size: 18px;
			}
		}
	}
	.slides-tabs {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		font-style: italic;
		ul {
			text-align: center;
		}
		li {
			display: inline-block;
			width: 139px;
			margin: 0 0 0 80px;
			&:first-child {
				margin-left: 0;
			}
		}
		a {
			position: relative;
			display: block;
			width: 150px;
			height: 100px;
			color: #333;
			&:before, &:after {
				content: ' ';
				position: absolute;
				top: 0;
				left: 0;
				width: 139px;
				height: 117px;
			}
			&:before {
				z-index: 1;
				background: url(/img/cases/buttons/bg.png);
			}
			&:after {
				z-index: 3;
			}
			&.pbcf:after {
				background: url(/img/cases/buttons/pbcf_mask.png);
			}
			&.litedark:after {
				background: url(/img/cases/buttons/litedark_mask.png);
			}
			&.slimleren:after {
				background: url(/img/cases/buttons/slimleren_mask.png);
			}
			&.ing:after {
				background: url(/img/cases/buttons/ing_mask.png);
			}
			&.kpmg:after {
				background: url(/img/cases/buttons/kpmg_mask.png);
			}
			img {
				position: relative;
				z-index: 2;
				width: 139px;
				height: 117px;
				-webkit-transition: -webkit-transform .15s ease-out;
			}
			&:hover img {
				-webkit-transform: translateX(-6px);
			}
		}
		img {
			display: block;
		}
	}
}

.screenshots {
	position: absolute;
	top: 0;
	right: 0;
	width: 800px;
	height: 966px;
	-webkit-perspective: 600px;
	-webkit-perspective-origin: 40% 121%;
	-webkit-transform-style: preserve-3d;
	.imac {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: url(/img/imac.png);
	}
	ul {
		overflow: hidden;
		position: absolute;
		z-index: 1;
		top: 107px;
		right: 113px;
		width: 635px;
		height: 597px;
		margin: 0;
		padding: 0;
		list-style: none;
		-webkit-transform: rotateX(6.5deg) rotateY(-12.95deg) rotateZ(5.5deg) skewX(-2.8deg) skewY(1.4deg);
	}
	li {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.screenshot-1 {
		background: rgba(255, 0, 0, .2);
	}
	.screenshot-2 {
		left: 100%;
		background: rgba(0, 255, 0, .2);
	}
	.screenshot-3 {
		left: 100%;
		background: rgba(0, 0, 255, .2);
	}
	.screenshot-4 {
		left: 100%;
		background: rgba(255, 255, 0, .2);
	}
	.screenshot-5 {
		left: 100%;
		background: rgba(255, 0, 255, .2);
	}
}
