.cases {
	min-height: 100%;
	height: 1100px;
	.wrap {
		position: relative;
		height: 100%;
	}
	.slides {
		position: absolute;
		top: 100px;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.slides-contents {
		article {
			position: absolute;
			top: 0;
			right: 30px;
			left: 30px;
			bottom: 175px;
			background: #fff;
		}
		.summary {
			position: absolute;
			top: 25%;
			width: 460px;
		}
		h3 {
			font-size: 36px;
			letter-spacing: 5px;
			line-height: 42px;
			&:after {
				content: ' ';
				display: block;
				width: 30px;
				height: 4px;
				margin: 30px 0 18px;
				background: #f36523;
			}
		}
		p {
			width: 270px;
			font-style: italic;
			opacity: .75;
		}
		.more {
			font-style: italic;
			&:after {
				content: '→';
				position: relative;
				top: 2px;
				margin: 0 0 0 10px;
				font-size: 18px;
			}
		}
		.asset {
			position: absolute;
			top: 0;
			right: 0;
			width: 603px;
			height: 831px;
		}
		.case-pbcf {
			a {
				color: #f26522;
			}
			h3:after {
				background: #f26522;
			}
			.asset {
				background: url(/img/asset-pbcf.png);
			}
		}
		.case-litedark {
			a {
				color: #009f4e;
			}
			h3:after {
				background: #009f4e;
			}
			.asset {
				width: 645px;
				height: 619px;
				background: url(/img/asset-litedark.png);
			}
		}
		.case-slimleren {
			a {
				color: #3bc1f0;
			}
			h3:after {
				background: #3bc1f0;
			}
			.asset {
				top: 100px;
				width: 789px;
				height: 550px;
				background: url(/img/asset-slimleren.png);
			}
		}
		.case-ing {
			a {
				color: #f47318;
			}
			h3:after {
				background: #f47318;
			}
			.asset {
				background: url(/img/asset-ing.png);
			}
		}
		.case-kpmg {
			a {
				color: #0078c1;
			}
			h3:after {
				background: #0078c1;
			}
			.asset {
				background: url(/img/asset-kpmg.png);
			}
		}
	}
	.slides-tabs {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		font-style: italic;
		ul {
			text-align: center;
		}
		li {
			display: inline-block;
			width: 139px;
			height: 175px;
			margin: 0 0 0 80px;
			&:first-child {
				margin-left: 0;
			}
		}
		a {
			position: relative;
			display: block;
			width: 150px;
			height: 100px;
			color: #333;
			&:before, &:after {
				content: ' ';
				position: absolute;
				top: 0;
				left: 0;
				width: 139px;
				height: 117px;
			}
			&:before {
				z-index: 1;
				background: url(/img/cases/buttons/bg.png);
			}
			&:after {
				z-index: 3;
			}
			&.pbcf:after {
				background: url(/img/cases/buttons/pbcf_mask.png);
			}
			&.litedark:after {
				background: url(/img/cases/buttons/litedark_mask.png);
			}
			&.slimleren:after {
				background: url(/img/cases/buttons/slimleren_mask.png);
			}
			&.ing:after {
				background: url(/img/cases/buttons/ing_mask.png);
			}
			&.kpmg:after {
				background: url(/img/cases/buttons/kpmg_mask.png);
			}
			img {
				position: relative;
				z-index: 2;
				width: 139px;
				height: 117px;
				-webkit-transition: -webkit-transform .15s ease-out;
			}
			span {
				display: block;
			}
			&:hover img {
				-webkit-transform: translateX(-6px);
			}
		}
		img {
			display: block;
		}
	}
}

