.clients {
	display: none;
}
.client-list {
	margin: 0 0 -120px;
	padding: 0;
	list-style: none;
	text-align: center;
	li {
		display: inline-block;
		width: 33.33333333333333%;
		margin: 0 0 120px;
		background-position: center;
	}
	img {
		display: block;
		width: 181px;
		height: 91px;
		margin: 0 auto;
	}
}
@media screen and (min-width: 600px) {
	.clients {
		display: block;
	}
	.client-list li:last-child {
		display: none;
	}
}
@media screen and (min-width: 1024px) {
	.client-list {
		li {
			width: 25%;
			&:last-child {
				display: inline-block;
			}
		}
	}
}
