.client-list {
	overflow: hidden;
	margin: 0 0 -120px;
	padding: 0;
	list-style: none;
	li {
		float: left;
		width: 25%;
		margin: 0 0 120px;
		background-position: center;
	}
	img {
		display: block;
		width: 181px;
		height: 91px;
		margin: 0 auto;
	}
}
