.contact {
	position: relative;
	.map-canvas {
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		left: 0;
		height: 740px;
	}
	.hide-map {
		position: absolute;
		z-index: 2;
		top: 10px;
		right: 10px;
		width: 30px;
		height: 30px;
		background: rgba(0, 0, 0, .3);
		font-size: 30px;
		line-height: 30px;
		text-align: center;
		opacity: 0;
	}
}
.contact-content {
	position: absolute;
	z-index: 3;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(/img/contact-bg.png) center -416px;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		float: left;
		width: 33.33333333333333%;
		text-align: center;
	}
	h3, dl {
		&:before {
			content: ' ';
			display: block;
			width: 30px;
			height: 4px;
			margin: 24px auto;
			background: #2795bd;
		}
	}
	dl:before {
		margin-bottom: 22px;
	}
	.sub-title {
		font-style: italic;
	}
	dl {
		margin: 0;
	}
	dt {
		font: 18px Ubuntu;
		letter-spacing: 2px;
		line-height: inherit;
		text-transform: uppercase;
	}
	dd {
		margin: 0 0 26px;
		font-style: italic;
		line-height: inherit;
	}
	img, .show-map {
		display: block;
		width: 180px;
		height: 180px;
		margin: 0 auto;
	}
	.show-map {
		text-indent: -999em;
	}
}
