.contact {
	overflow: visible;
	position: relative;
	.ray {
		left: 60%;
	}
	.ray2 {
		margin: 0 0 0 100px;
	}
	.ray3 {
		margin: 0 0 0 300px;
	}
	.map-canvas {
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		left: 0;
		height: 670px;
	}
	.hide-map {
		position: fixed;
		z-index: 2;
		top: 18px;
		right: 18px;
		width: 48px;
		height: 48px;
		background: rgba(32, 32, 32, .8) url(/img/cross.png) no-repeat center;;
		opacity: 0;
		text-indent: -999em;
	}
}
.map-overlay-wrap {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.map-overlay {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	right: 0;
	bottom: -85px;
	background: url(/img/contact-bg.png) center -451px;
}
@media screen and (min-width: 600px){
	.contact .map-canvas {
		height: 600px;
	}
	.map-overlay {
		background-position: center -486px;
	}
}
@media screen and (min-width: 768px) {
	.contact .map-canvas {
		height: 530px;
	}
	.map-overlay {
		background-position: center -521px;
	}
}
@media screen and (min-width: 1024px){
	.contact .map-canvas {
		height: 710px;
	}
	.map-overlay {
		background-position: center -431px;
	}
}
.contact-content {
	overflow: hidden;
	position: relative;
	z-index: 4;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	.contact-mobile {
		text-align: center;
		p:before {
			content: '';
			display: block;
			width: 30px;
			height: 4px;
			margin: 24px auto;
			background: #2795bd;
		}
	}
	ul {
		display: none;
		overflow: hidden;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		float: left;
		width: 33.33333333333333%;
		text-align: center;
	}
	h3 {
		margin: 30px 0 0;
	}
	.btn {
		background: #2795bd;
	}
	.sub-title {
		font-style: italic;
		&.large {
			font: normal 18px/25px Ubuntu, sans-serif;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
		&:after {
			content: ' ';
			display: block;
			width: 30px;
			height: 4px;
			margin: 24px auto;
			background: #2795bd;
			@include transition(width .1s ease-in-out);
		}
	}
	li:hover .sub-title:after {
		width: 40px;
	}
	img, .show-map {
		display: block;
		width: 180px;
		height: 180px;
		margin: 0 auto;
	}
	.show-map {
		text-indent: -999em;
	}
	@media screen and (min-width: 768px){
		.contact-mobile {
			display: none;
		}
		ul {
			display: block;
		}
	}
}
