.contact {
	position: relative;
	.header-main {
		background: rgba(38, 43, 54, .8);
	}
	.map-canvas {
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		left: 0;
		height: 600px;
	}
	.hide-map {
		position: absolute;
		z-index: 2;
		top: 10px;
		right: 10px;
		width: 30px;
		height: 30px;
		background: rgba(0, 0, 0, .3);
		color: #fff;
		font-size: 30px;
		line-height: 30px;
		text-align: center;
		opacity: 0;
	}
}
.map-overlay {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(/img/contact-bg.png) center -486px;
}
@media screen and (min-width: 1024px) {
	.contact .map-canvas {
		height: 780px;
	}
	.map-overlay {
		background-position: center -396px;
	}
}
.contact-content {
	position: relative;
	z-index: 4;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	ul {
		overflow: hidden;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		float: left;
		width: 33.33333333333333%;
		text-align: center;
	}
	h3 {
		&:before {
			content: ' ';
			display: block;
			width: 30px;
			height: 4px;
			margin: 24px auto;
			background: #2795bd;
		}
	}
	.sub-title {
		font-style: italic;
	}
	img, .show-map {
		display: block;
		width: 180px;
		height: 180px;
		margin: 0 auto;
	}
	.show-map {
		text-indent: -999em;
	}
}
