.jobs {
	.jobs-list {
		overflow: hidden;
	}
	article {
		float: left;
		width: 33.3333333333333%;
		padding: 0 60px;
		text-align: center;
		&:hover h3:after {
			width: 40px;
		}
	}
	h3 {
		&:after {
			content: ' ';
			display: block;
			width: 30px;
			height: 4px;
			margin: 24px auto;
			background: #2795bd;
			@include transition(width .1s ease-in-out);
		}
	}
	.btn {
		margin: 30px 0 0;
	}
}
