.jobs {
	.job-listing {
		overflow: hidden;
	}
	article {
		text-align: center;
		&:hover h3:after {
			width: 40px;
		}
	}
	h3 {
		&:after {
			content: ' ';
			display: block;
			width: 30px;
			height: 4px;
			margin: 24px auto;
			background: #2795bd;
			@include transition(width .25s ease-in-out);
		}
	}
	.btn {
		margin: 30px 0 0;
	}
}
