.jobs {
	.jobs-mobile {
		text-align: center;
	}
	.jobs-list {
		overflow: hidden;
		display: none;
		margin: -120px 0 0;
	}
	article {
		margin: 120px auto 0;
		text-align: center;
		&:hover h3:after {
			width: 40px;
		}
	}
	h3 {
		&:after {
			content: ' ';
			display: block;
			width: 30px;
			height: 4px;
			margin: 24px auto;
			background: #2795bd;
			@include transition(width .1s ease-in-out);
		}
	}
	.btn {
		margin: 30px 0 0;
	}
	@media screen and (min-width: 600px){
		.jobs-mobile {
			display: none;
		}
		.jobs-list {
			display: block;
		}
		article {
			max-width: 400px;
		}
	}
	@media screen and (min-width: 1024px){
		article {
			float: left;
			width: 33.3333333333333%;
			padding: 0 60px;
		}
	}
}
