@include keyframes(borderGrow){
	to {
		width: 100%;
	}
}

@include keyframes(fadeSlideIn){
	to {
		@include transform(translateX(0));
		opacity: 1;
	}
}

.mood {
	position: relative;
	height: 100%;
	.mood-bg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0;
		background-image: url(/img/header.jpg);
		background-position: center;
		background-size: cover;
	}
	.mission {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 800px;
		margin: -50px 0 0 -400px;
		padding: 18px 0;
		font-size: 22px;
		font-style: italic;
		text-align: center;
		@include transform(translateZ(0));
		&:before, &:after {
			content: ' ';
			display: block;
			position: absolute;
			width: 0;
			height: 1px;
			background: #fff;
			@include transform(translateZ(0));
			@include animation(borderGrow 1s 1s forwards);
		}
		&:before {
			top: 0;
			left: 0;
		}
		&:after {
			right: 0;
			bottom: 0;
		}
		span {
			display: block;
			opacity: 0;
			@include transform(translateX(-20px));
			@include animation(fadeSlideIn 1s 1s forwards);
		}
		strong {
			display: block;
			font: 700 36px 'Ubuntu';
			text-transform: uppercase;
			letter-spacing: 4px;
			opacity: 0;
			@include transform(translateX(20px));
			@include animation(fadeSlideIn 1s 1s forwards);
		}
	}
	.continue {
		position: absolute;
		bottom: 50px;
		left: 50%;
		margin: 0 0 0 -37px;
	}
}
