.mood {
	.ray {
		left: 60%;
	}
	.ray2 {
		margin: 0 0 0 200px;
	}
	.ray3 {
		margin: 0 0 0 300px;
	}
	overflow: hidden;
	position: relative;
	height: 100%;
	text-align: center;
	.mood-bg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0;
		background-image: url(/img/header.jpg);
		background-position: center;
		background-size: cover;
	}
	.mission {
		display: inline-block;
		position: relative;
		top: 40%;
		padding: 18px 0;
		font-size: 22px;
		font-style: italic;
		@include transform(translateZ(0));
		&:before, &:after {
			content: ' ';
			display: block;
			position: absolute;
			width: 0;
			height: 1px;
			background: #fff;
			@include transform(translateZ(0));
			@include animation(borderGrow 1s .75s forwards);
		}
		&:before {
			top: 0;
			left: 0;
		}
		&:after {
			right: 0;
			bottom: 0;
		}
		span {
			display: block;
			opacity: 0;
			@include transform(translateX(-20px));
			@include animation(fadeSlideIn 1s .75s forwards);
		}
		strong {
			display: block;
			margin: 6px 0 0;
			font: 700 21px 'Ubuntu';
			letter-spacing: 4px;
			text-transform: uppercase;
			opacity: 0;
			@include transform(translateX(20px));
			@include animation(fadeSlideIn 1s .75s forwards);
		}
	}
	@media screen and (min-width: 600px){
		.mission {
			padding-left: 24px;
			padding-right: 24px;
			strong {
				margin-top: 0;
				font-size: 36px;
			}
		}
	}
	@media screen and (min-width: 1024px){
		.mission {
			width: 860px;
		}
	}
}
