.office .slides .slides-contents {
	max-width: 350px;
}
.office-bg {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background: no-repeat center;
	background-size: cover;
}
.office .wrap {
	position: relative;
	z-index: 4;
}
.bg-0 {
	display: block;
	background-image: url(/img/office-creative-capital.png);
}
.bg-1 {
	background-image: url(/img/office-everything-you-need.png);
}
.bg-2 {
	background-image: url(/img/office-we-are-family.jpg);
}
