.services {
	ol, ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
	}
	.step {
		float: left;
		width: 20%;
		padding: 140px 0 0;
	}
	h3:after {
		content: ' ';
		display: block;
		width: 30px;
		height: 4px;
		margin: 24px auto 18px;
	}
	.clarify {
		background: url(/img/services/clarify.png) no-repeat center top;
		h3:after {
			background: #515875;
		}
	}
	.create {
		background: url(/img/services/create.png) no-repeat center top;
		h3:after {
			background: #576f9e;
		}
	}
	.code {
		background: url(/img/services/code.png) no-repeat center top;
		h3:after {
			background: #6697b9;
		}
	}
	.connect {
		background: url(/img/services/connect.png) no-repeat center top;
		h3:after {
			background: #88c3d8;
		}
	}
	.control {
		background: url(/img/services/control.png) no-repeat center top;
		h3:after {
			background: #afdae2;
		}
	}
	ul {
		font-style: italic;
	}
}
