@include keyframes(clarify){
	from { background-position: 0 0; }
	to { background-position: -3696px 0; }
}
@include keyframes(create){
	from { background-position: 0 -112px; }
	to { background-position: -4816px -112px; }
}
@include keyframes(code){
	from { background-position: 0 -224px; }
	to { background-position: -4704px -224px; }
}
@include keyframes(connect){
	from { background-position: 0 -336px; }
	to { background-position: -4480px -336px; }
}
@include keyframes(control){
	from { background-position: 0 -448px; }
	to { background-position: -4592px -448px; }
}

.services {
	ol, ul {
		overflow: hidden;
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
	}
	ol {
		margin: 0 0 -60px;
	}
	.service {
		margin: 0 0 60px;
		.icon {
			display: block;
			width: 112px;
			height: 112px;
			margin: 0 auto 30px;
			background: url(/img/services.png);
			opacity: 1;
		}
		&:hover h3:after {
			width: 40px;
		}
	}
	h3:after {
		content: ' ';
		display: block;
		width: 30px;
		height: 4px;
		margin: 24px auto 18px;
		@include transition(width .25s ease-in-out);
	}
	.s1 {
		.icon {
			background-position: 0 0;
			&.loop {
				@include animation(clarify 1.32s steps(33));
			}
		}
		h3:after {
			background: #515875;
		}
	}
	.s2 {
		.icon {
			background-position: 0 -112px;
			&.loop {
				@include animation(create 1.72s steps(43));
			}
		}
		h3:after {
			background: #576f9e;
		}
	}
	.s3 {
		.icon {
			background-position: 0 -224px;
			&.loop {
				@include animation(code 1.68s steps(42));
			}
		}
		h3:after {
			background: #6697b9;
		}
	}
	.s4 {
		.icon {
			background-position: 0 -336px;
			&.loop {
				@include animation(connect 1.6s steps(40));
			}
		}
		h3:after {
			background: #88c3d8;
		}
	}
	.s5 {
		.icon {
			background-position: 0 -448px;
			&.loop {
				@include animation(control 1.64s steps(41));
			}
		}
		h3:after {
			background: #afdae2;
		}
	}
	ul {
		font-style: italic;
		li {
			display: inline;
			&:after {
				content: ',';
			}
			&:last-child:after {
				content: '';
			}
		}
	}
	.read-more {
		text-align: center;
		margin: 120px 0 0;
	}
	@media screen and (min-width: 600px) {
		.service {
			display: inline-block;
			vertical-align: top;
			width: 33%;
		}
		ul li {
			display: block;
			&:after {
				content: '';
			}
		}
	}
	@media screen and (min-width: 1024px) {
		.service {
			width: 20%;
		}
	}
}
