.team-list {
	overflow: hidden;
	margin: 0 0 -80px;
	padding: 0;
	list-style: none;
	li {
		float: left;
		width: 33.33333333333333%;
		margin: 0 0 80px;
		cursor: pointer;
		text-align: center;
		&:hover h3:after {
			width: 40px;
		}
	}
	img {
		display: block;
		width: 180px;
		height: 180px;
		margin: 0 auto 24px;
	}
	h3:after {
		content: ' ';
		display: block;
		width: 30px;
		height: 4px;
		margin: 18px auto 12px;
		@include transition(width .25s ease-in-out);
	}
	.vincent h3:after {
		background: #2795bd;
	}
	.jeroen h3:after {
		background: #967aa5;
	}
	.martin h3:after {
		background: #d27a24;
	}
	.anne h3:after {
		background: #bd83b8;
	}
	.onno h3:after {
		background: #2795bd;
	}
	.franklin h3:after {
		background: #cbda22;
	}
	p {
		margin: 0;
		font-style: italic;
	}
}

.popover-content {
	h3:after {
		content: ' ';
		display: block;
		width: 30px;
		height: 4px;
		margin: 18px 0 12px;
		background: #2994be;
	}
	p {
		margin: 0 0 25px;
		font-style: normal;
		text-align: left;
	}
}
