.team {
	display: none;
}
.team-list {
	overflow: hidden;
	margin: 0 0 -80px;
	padding: 0;
	list-style: none;
	li {
		float: left;
		width: 50%;
		margin: 0 0 80px;
		cursor: pointer;
		text-align: center;
		&:hover h3:after {
			width: 40px;
		}
	}
	.img {
		position: relative;
		width: 180px;
		height: 180px;
		margin: 0 auto 24px;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url(/img/team-mask.png);
		}
	}
	img {
		display: block;
		width: 180px;
		height: 180px;
	}
	h3:after {
		content: ' ';
		display: block;
		width: 30px;
		height: 4px;
		margin: 18px auto 12px;
		@include transition(width .1s ease-in-out);
	}
	.t0 h3:after {
		background: #2795bd;
	}
	.t1 h3:after {
		background: #967aa5;
	}
	.t2 h3:after {
		background: #d27a24;
	}
	.t3 h3:after {
		background: #cd3636;
	}
	.t4 h3:after {
		background: #cbda22;
	}
	.t5 h3:after {
		background: #d591bb;
	}
	p {
		margin: 0;
		font-style: italic;
	}
}

@media screen and (min-width: 600px) {
	.team {
		display: block;
	}
}
@media screen and (min-width: 1024px) {
	.team-list li {
		width: 33.33333333333333%;
	}
}

.popover-content {
	h3:after {
		content: ' ';
		display: block;
		width: 30px;
		height: 4px;
		margin: 18px 0 12px;
		background: #2994be;
	}
	&.t0 h3:after {
		background: #2795bd;
	}
	&.t1 h3:after {
		background: #967aa5;
	}
	&.t2 h3:after {
		background: #d27a24;
	}
	&.t3 h3:after {
		background: #cd3636;
	}
	&.t4 h3:after {
		background: #cbda22;
	}
	&.t5 h3:after {
		background: #d591bb;
	}
	p {
		margin: 0 0 25px;
		font-style: normal;
		text-align: left;
	}
}

.team-social {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		margin: 0 0 0 6px;
		&:first-child {
			margin-left: 0;
		}
	}
	a {
		display: block;
		background: url(/img/social-color.png);
		text-indent: -999em;
	}
	.linkedin {
		width: 23px;
		height: 23px;
	}
}
