{% extends "layouts/default.html" %}

{% block scripts %}
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="/js/home.js"></script>
{% endblock %}

{% block content %}
	<section class="page dark mood">
		<figure class="mood-bg"></figure>
		<p class="mission">
			<span>In the new reality</span>
			<strong>simplicity works</strong>
		</p>
		<a href="#services" class="arrow-down continue">Continue</a>
	</section>

	<section class="page light services">
		<div class="wrap">
			<a class="push" name="services"></a>
			<h2>What we do</h2>
			<ol>
				<li class="service clarify">
					<h3>Clarify</h3>
					<ul>
						<li>Businesses</li>
						<li>Positionings</li>
					</ul>
				</li>
				<li class="service create">
					<h3>Create</h3>
					<ul>
						<li>Identities</li>
						<li>Campaigns</li>
					</ul>
				</li>
				<li class="service code">
					<h3>Code</h3>
					<ul>
						<li>Online</li>
						<li>Mobile</li>
					</ul>
				</li>
				<li class="service connect">
					<h3>Connect</h3>
					<ul>
						<li>Activate</li>
						<li>Measure</li>
					</ul>
				</li>
				<li class="service control">
					<h3>Control</h3>
					<ul>
						<li>Hosting</li>
						<li>Insights</li>
					</ul>
				</li>
			</ol>
		</div>
	</section>

	<section class="page dark about">
		<div class="wrap">
			<a class="push" name="about"></a>
			<h2>About</h2>
			<div class="slides text-slides" data-slides>
				<a href="#prev" class="arrow-left slides-prev">Previous</a>
				<a href="#next" class="arrow-right slides-next">Next</a>
				<nav class="slides-tabs">
					<ul>
						{% for section in about %}
						<li><a href="#about/{{section.slug}}">{{section.title}}</a></li>
						{% endfor %}
					</ul>
				</nav>
				<div class="slides-contents">
					{% for section in about %}
					<article>
						{{section.body|safe}}
					</article>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

	<section class="page light cases">
		<div class="wrap">
			<a class="push" name="cases"></a>
			<h2>The cases we love</h2>
			<div class="slides" data-case-slides>
				<div class="slides-contents">
					{% for project in cases %}
					<article>
						<div class="summary">
							<h3>{{project.title}}</h3>
							<p>{{project.summary}}</p>
							<a href="/cases/{{project.slug}}" class="more">Read more</a>
						</div>
					</article>
					{% endfor %}
				</div>
				<div class="screenshots">
					<div class="imac"></div>
					<ul>
						<li class="screenshot-1"></li>
						<li class="screenshot-2"></li>
						<li class="screenshot-3"></li>
						<li class="screenshot-4"></li>
						<li class="screenshot-5"></li>
					</ul>
				</div>
				<nav class="slides-tabs">
					<ul>
						{% for project in cases %}
						<li><a href="#" class="{{project.slug}}"><img src="/img/cases/buttons/{{project.slug}}_logo.png" alt="{{project.title}}">{{project.title}}</a></li>
						{% endfor %}
					</ul>
				</nav>
			</div>
		</div>
	</section>

	<section class="page dark clients">
		<div class="wrap">
			<a class="push" name="clients"></a>
			<h2>Current and past clients</h2>
			<ul class="client-list">
				{% for client in clients %}
				<li><img src="{{client.image}}" alt="{{client.title}}"></li>
				{% endfor %}
			</ul>
		</h2>
	</section>

	<section class="page light team">
		<div class="wrap">
			<a class="push" name="team"></a>
			<h2>Leadership</h2>
			<ul class="team-list">
				{% for person in team %}
				<li class="{{person.slug}}">
					<img src="{{person.image}}" alt="{{person.name}}">
					<h3>{{person.name}}</h3>
					<p>{{person.title}}</p>
					<section class="popover-content">
						<h3>{{person.name}}</h3>
						{{person.body|safe}}
					</section>
				</li>
				{% endfor %}
			</ul>
		</div>
	</section>

	<section class="page dark office">
		<div class="wrap">
			<a class="push" name="office"></a>
			<h2>Our culture</h2>
			<div class="slides text-slides" data-slides>
				<a href="#prev" class="arrow-left slides-prev">Previous</a>
				<a href="#next" class="arrow-right slides-next">Next</a>
				<nav class="slides-tabs">
					<ul>
						{% for section in office %}
						<li><a href="#office/{{section.slug}}">{{section.title}}</a></li>
						{% endfor %}
					</ul>
				</nav>
				<div class="slides-contents">
					{% for section in office %}
					<article>
						{{section.body|safe}}
					</article>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

	<section class="page light jobs">
		<div class="wrap">
			<a class="push" name="jobs"></a>
			<h2>Become strange</h2>
			<div class="job-listing">
				{% for job in jobs %}
				<article>
					<h3>{{job.title}}</h3>
					<p class="subtitle">{{job.experience}}</p>
					{{job.body|safe}}
					<a href="#" class="btn">Apply</a>
				</article>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="page dark contact">
		<a href="#" class="hide-map">&times;</a>
		<div class="map-canvas"></div>
		<div class="map-overlay"></div>
		<div class="contact-content">
			<div class="wrap">
				<a class="push" name="contact"></a>
				<h2>Have that strange feeling of love?<br>Contact us</h2>
				<ul>
					<li>
						<img src="/img/office.png" alt="Office">
						<dl>
							<dt>0800 - 1486</dt>
							<dd>Helpdesk</dd>
							<dt>(0)20 470 05 33</dt>
							<dd>HQ</dd>
						</dl>
						<a href="#" class="btn">Call</a>
					</li>
					<li>
						<a href="#" class="show-map">Show map</a>
						<h3>52&deg;22'17.6"N</h3>
						<p class="sub-title">Our home</p>
						<p>
							Tweede Kostverlorenkade 68<br>
							1053 SB Amsterdam
						</p>
						<a href="#" class="btn">Location</a>
					</li>
					<li>
						<img src="/img/placeholder/team-vincent.png" alt="Vincent van Dijk">
						<h3>New business</h3>
						<p class="sub-title">Managing Director</p>
						<p>
							Want to start something?<br>
							Talk to Vincent!
						</p>
						<a href="#" class="btn">Mail</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
{% endblock %}
