{% extends "layouts/default.html" %}

{% block content %}
	<section class="page dark mood">
		<figure class="mood-bg"></figure>
		<p class="mission">
			<span>In the new reality</span>
			<strong>simplicity works</strong>
		</p>
		<a href="#services" class="arrow-down continue">Continue</a>
	</section>

	<section class="page light services">
		<div class="wrap">
			<a class="push" name="services"></a>
			<h2>What we do</h2>
			<ol>
				<li class="service clarify">
					<h3>Clarify</h3>
					<ul>
						<li>Businesses</li>
						<li>Positionings</li>
					</ul>
				</li>
				<li class="service create">
					<h3>Create</h3>
					<ul>
						<li>Identities</li>
						<li>Campaigns</li>
					</ul>
				</li>
				<li class="service code">
					<h3>Code</h3>
					<ul>
						<li>Online</li>
						<li>Mobile</li>
					</ul>
				</li>
				<li class="service connect">
					<h3>Connect</h3>
					<ul>
						<li>Activate</li>
						<li>Measure</li>
					</ul>
				</li>
				<li class="service control">
					<h3>Control</h3>
					<ul>
						<li>Hosting</li>
						<li>Insights</li>
					</ul>
				</li>
			</ol>
		</div>
	</section>

	<section class="page dark about">
		<div class="wrap">
			<a class="push" name="about"></a>
			<h2>About</h2>
			<div class="slides text-slides" data-slides>
				<a href="#prev" class="arrow-left slides-prev">Previous</a>
				<a href="#next" class="arrow-right slides-next">Next</a>
				<nav class="slides-tabs">
					<ul>
						<li><a href="#about/how-we-think">How we think</a></li>
						<li><a href="#about/how-we-work">How we work</a></li>
						<li><a href="#about/how-we-help">How we help</a></li>
					</ul>
				</nav>
				<div class="slides-contents">
					<article>
						<p>In today's complex and transparent world the game has changed.</p>
						<p>
							Consumers have less time and the amount of content fighting for their
							attention is overwhelming. Traditional advertising is often money wasted.
						</p>
						<p>
							In this complex world, we simplify. Welcome to Strangelove, an
							advertising agency that believes what you do comes before what you say.
						</p>
						<p>
							We combine business thinking with communication services. Creating
							opportunities and solutions that matter to people.
						</p>
						<p>This is how we grow your business.</p>
					</article>
					<article>
						<p>In today's complex and transparent world the game has changed.</p>
						<p>
							Consumers have less time and the amount of content fighting for their
							attention is overwhelming. Traditional advertising is often money wasted.
						</p>
						<p>
							In this complex world, we simplify. Welcome to Strangelove, an
							advertising agency that believes what you do comes before what you say.
						</p>
						<p>
							We combine business thinking with communication services. Creating
							opportunities and solutions that matter to people.
						</p>
						<p>This is how we grow your business.</p>
					</article>
					<article>
						<p>In today's complex and transparent world the game has changed.</p>
						<p>
							Consumers have less time and the amount of content fighting for their
							attention is overwhelming. Traditional advertising is often money wasted.
						</p>
						<p>
							In this complex world, we simplify. Welcome to Strangelove, an
							advertising agency that believes what you do comes before what you say.
						</p>
						<p>
							We combine business thinking with communication services. Creating
							opportunities and solutions that matter to people.
						</p>
						<p>This is how we grow your business.</p>
					</article>
				</div>
			</div>
		</div>
	</section>

	<section class="page light cases">
		<div class="wrap">
			<a class="push" name="cases"></a>
			<h2>The cases we love</h2>
			<div class="slides" data-case-slides>
				<div class="slides-contents">
					<article>
						<div class="summary">
							<h3>Prins Bernhard Cultuurfonds</h3>
							<p>
								We helped them with developing their communication strategy of many
								levels
							</p>
							<a href="#" class="more">Read more</a>
						</div>
					</article>
					<article></article>
					<article></article>
					<article></article>
					<article></article>
				</div>
				<div class="screenshots">
					<div class="imac"></div>
					<ul>
						<li class="screenshot-1"></li>
						<li class="screenshot-2"></li>
						<li class="screenshot-3"></li>
						<li class="screenshot-4"></li>
						<li class="screenshot-5"></li>
					</ul>
				</div>
				<nav class="slides-tabs">
					<ul>
						<li class="active"><a href="#" class="pbcf"><img src="/img/cases/buttons/1_logo.png" alt="Cultuurfonds">Cultuurfonds</a></li>
						<li><a href="#" class="litedark"><img src="/img/cases/buttons/2_logo.png" alt="Lite/Dark">Lite/Dark</a></li>
						<li><a href="#" class="slimleren"><img src="/img/cases/buttons/3_logo.png" alt="Slimleren">Slimleren</a></li>
						<li><a href="#" class="ing"><img src="/img/cases/buttons/4_logo.png" alt="Pensioenfonds ING">Pensioenfonds ING</a></li>
						<li><a href="#" class="kpmg"><img src="/img/cases/buttons/5_logo.png" alt="KPMG Meijburg &amp; Co.">KPMG Meijburg &amp; Co.</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</section>

	<section class="page dark clients">
		<div class="wrap">
			<a class="push" name="clients"></a>
			<h2>Current and past clients</h2>
			<ul class="client-list">
				<li><img src="/img/clients/pbcf.png" alt="Prins Bernhard Cultuurfonds"></li>
				<li><img src="/img/clients/vanmoof.png" alt="Vanmoof"></li>
				<li><img src="/img/clients/klm.png" alt="KLM"></li>
				<li><img src="/img/clients/upc.png" alt="upc"></li>
				<li><img src="/img/clients/microsoft.png" alt="Microsoft"></li>
				<li><img src="/img/clients/litedark.png" alt="Lite/Dark"></li>
				<li><img src="/img/clients/vu.png" alt="VU medisch centrum"></li>
				<li><img src="/img/clients/philips.png" alt="Philips"></li>
				<li><img src="/img/clients/ctn.png" alt="Cuba Travel Network"></li>
				<li><img src="/img/clients/mrmaria.png" alt="Mr Maria"></li>
				<li><img src="/img/clients/vosta.png" alt="Vosta LMG"></li>
				<li><img src="/img/clients/redbull.png" alt="Red Bull"></li>
			</ul>
		</h2>
	</section>

	<section class="page light team">
		<div class="wrap">
			<a class="push" name="team"></a>
			<h2>Leadership</h2>
			<ul class="team-list">
				<li>
					<img src="/img/placeholder/team-vincent.png" alt="Vincent van Dijk">
					<h3>Vincent van Dijk</h3>
					<p>Managing Director</p>
				</li>
				<li>
					<img src="/img/placeholder/team-jeroen.png" alt="Jeroen Gouw">
					<h3>Jeroen Gouw</h3>
					<p>Creative Director</p>
				</li>
				<li>
					<img src="/img/placeholder/team-martin.png" alt="Martin Palamarz">
					<h3>Martin Palamarz</h3>
					<p>Strategy Director</p>
				</li>
				<li>
					<img src="/img/placeholder/team-anne.png" alt="Anne van Haeften">
					<h3>Anne van Haeften</h3>
					<p>Client Service Director</p>
				</li>
				<li>
					<img src="/img/placeholder/team-onno.png" alt="Onno van der Steen">
					<h3>Onno van der Steen</h3>
					<p>Development Director</p>
				</li>
				<li>
					<img src="/img/placeholder/team-tim.png" alt="Tim 'O Kennedy">
					<h3>Tim 'O Kennedy</h3>
					<p>Non-Executive Director</p>
				</li>
			</ul>
		</div>
	</section>

	<section class="page dark office">
		<div class="wrap">
			<a class="push" name="office"></a>
			<h2>Our culture</h2>
			<div class="slides text-slides" data-slides>
				<a href="#prev" class="arrow-left slides-prev">Previous</a>
				<a href="#next" class="arrow-right slides-next">Next</a>
				<nav class="slides-tabs">
					<ul>
						<li><a href="#">We are family</a></li>
						<li class="active"><a href="#">Everything you need</a></li>
						<li><a href="#">A creative capital</a></li>
					</ul>
				</nav>
				<div class="slides-contents">
					<article>
						<p>In today's complex and transparent world the game has changed.</p>
						<p>
							Consumers have less time and the amount of content fighting for their
							attention is overwhelming. Traditional advertising is often money wasted.
						</p>
						<p>
							In this complex world, we simplify. Welcome to Strangelove, an
							advertising agency that believes what you do comes before what you say.
						</p>
						<p>
							We combine business thinking with communication services. Creating
							opportunities and solutions that matter to people.
						</p>
						<p>This is how we grow your business.</p>
					</article>
					<article>
						<p>
							Hey there, let me get the door for you. New here? Cool! Here's your new
							MacBook or iMac and some other cool accessories.
						</p>
						<p>Of course with a comfortable chair to complete your workspace.</p>
						<p>
							You can enjoy a healthy, biological lunch, afternoon snacks, great coffee
							and fresh fruit every single day.
						</p>
						<p>And hey, work hard play hard, so Friday drinks are on the house.</p>
					</article>
					<article>
						<p>In today's complex and transparent world the game has changed.</p>
						<p>
							Consumers have less time and the amount of content fighting for their
							attention is overwhelming. Traditional advertising is often money wasted.
						</p>
						<p>
							In this complex world, we simplify. Welcome to Strangelove, an
							advertising agency that believes what you do comes before what you say.
						</p>
						<p>
							We combine business thinking with communication services. Creating
							opportunities and solutions that matter to people.
						</p>
						<p>This is how we grow your business.</p>
					</article>
				</div>
			</div>
		</div>
	</section>

	<section class="page light jobs">
		<div class="wrap">
			<a class="push" name="jobs"></a>
			<h2>Become strange</h2>
			<div class="job-listing">
				<article>
					<h3>Front-end developer</h3>
					<p class="subtitle">Medior Level</p>
					<p>
						Consumers have less time and the amount of content fighting for their
						attention is overwhelming. Traditional advertising is often money wasted.
					</p>
					<p>
						In this complex world, we simplify. Welcome to Strangelove, an
						advertising agency that believes what you do comes before what you say.
					</p>
					<a href="#" class="btn">Apply</a>
				</article>
				<article>
					<h3>Project producer</h3>
					<p class="subtitle">Senior Level</p>
					<p>
						Consumers have less time and the amount of content fighting for their
						attention is overwhelming. Traditional advertising is often money wasted.
					</p>
					<p>
						In this complex world, we simplify. Welcome to Strangelove, an
						advertising agency that believes what you do comes before what you say.
					</p>
					<a href="#" class="btn">Apply</a>
				</article>
			</div>
		</div>
	</section>

	<section class="page dark contact">
		<a href="#" class="hide-map">&times;</a>
		<div class="map-canvas"></div>
		<div class="map-overlay"></div>
		<div class="contact-content">
			<div class="wrap">
				<a class="push" name="contact"></a>
				<h2>Have that strange feeling of love?<br>Contact us</h2>
				<ul>
					<li>
						<img src="/img/office.png" alt="Office">
						<dl>
							<dt>0800 - 1486</dt>
							<dd>Helpdesk</dd>
							<dt>(0)20 470 05 33</dt>
							<dd>HQ</dd>
						</dl>
						<a href="#" class="btn">Call</a>
					</li>
					<li>
						<a href="#" class="show-map">Show map</a>
						<h3>52&deg;22'17.6"N</h3>
						<p class="sub-title">Our home</p>
						<p>
							Tweede Kostverlorenkade 68<br>
							1053 SB Amsterdam
						</p>
						<a href="#" class="btn">Location</a>
					</li>
					<li>
						<img src="/img/placeholder/team-vincent.png" alt="Vincent van Dijk">
						<h3>New business</h3>
						<p class="sub-title">Managing Director</p>
						<p>
							Want to start something?<br>
							Talk to Vincent!
						</p>
						<a href="#" class="btn">Mail</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
{% endblock %}
