{% extends "layouts/default.html" %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/services.css">
{% endblock %}

{% block scripts %}
	<script src="/js/services.js"></script>
{% endblock %}

{% block content %}
	<section class="page dark mood">
		<div class="ray ray1"></div>
		<div class="ray ray2"></div>
		<div class="ray ray3"></div>
		<figure class="mood-bg"></figure>
		<p class="mission">
			<strong>We improve brand performance</strong>
			<span>with business insights, creative content and digital technology</span>
		</p>
		<span class="arrow-down continue">Continue</span>
	</section>

	<section class="page light vision">
		<div class="wrap">
			<div class="services-content">
				<h2>{{our_vision[0].name}}</h2>
				{{our_vision[0].value|safe}}
			</div>
			<ul class="vision-icons">
				<li class="vision-1">
					<span class="vision-icon"></span>
					<h3>Relevant</h3>
				</li>
				<li class="vision-2">
					<span class="vision-icon"></span>
					<h3>Human</h3>
				</li>
				<li class="vision-3">
					<span class="vision-icon"></span>
					<h3>Memorable</h3>
				</li>
				<li class="vision-4">
					<span class="vision-icon"></span>
					<h3>Simple</h3>
				</li>
			</ul>
		</div>
	</section>

	<section class="interlude">
		<p>We believe a brand is no longer defined</p>
		<p class="emphasize">
			by what it says,<br>
			but rather by what it does
		</p>
	</section>

	<section class="page light services">
		<div class="wrap">
			<div class="service-list">
				{% for service in services %}
				<div class="service service-{{loop.index}}">
					<a class="push" name="{{service.name|lower}}"></a>
					<header class="service-header">
						<div class="service-icon"></div>
						<h3>{{service.name}}</h3>
						<p class="service-department">{{service.department}}</p>
					</header>
					{{service.value|safe}}
				</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="interlude dark">
		<p>We're in the process of setting up</p>
		<p class="emphasize">Strange<strong>.Lab</strong></p>
		<p>stay tuned!</p>
	</section>
{% endblock %}
