{% extends "layouts/default.html" %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/services.css">
{% endblock %}

{% block scripts %}
	<script src="/js/services.js"></script>
{% endblock %}

{% block content %}
	<section class="page dark mood">
		<div class="ray ray1"></div>
		<div class="ray ray2"></div>
		<div class="ray ray3"></div>
		<figure class="mood-bg"></figure>
		<div class="mission-wrap">
			<p class="mission">
				<strong>We improve brand performance</strong>
				<span>with design thinking, creative services and technology</span>
			</p>
		</div>
		<span class="arrow-down continue">Continue</span>
	</section>

	<section class="page light vision">
		<div class="wrap">
			<div class="services-content">
				<h2>{{our_vision[0].name}}</h2>
				{{our_vision[0].value|safe}}
			</div>
			<ul class="vision-icons">
				<li class="vision-1">
					<span class="vision-icon"></span>
					<h3>Relevant</h3>
				</li>
				<li class="vision-2">
					<span class="vision-icon"></span>
					<h3>Human</h3>
				</li>
				<li class="vision-3">
					<span class="vision-icon"></span>
					<h3>Memorable</h3>
				</li>
				<li class="vision-4">
					<span class="vision-icon"></span>
					<h3>Simple</h3>
				</li>
			</ul>
		</div>
	</section>

	<section class="interlude">
		<div class="wrap">
			<p>A brand is no longer defined by what it says,</p>
			<p class="emphasize">but rather by what it does</p>
		</div>
	</section>

	<section class="page light services">
		<div class="wrap">
			<div class="service-list">
				{% for service in services %}<div class="service service-{{loop.index}}">
					<a class="push" name="{{service.name|lower}}"></a>
					<header class="service-header">
						<div class="service-icon"></div>
						<h3>{{service.name}}</h3>
						<p class="service-department">{{service.department}}</p>
					</header>
					{{service.value|safe}}
				</div>{% endfor %}<div class="service service-6">
					<a class="push" name="tag"></a>
					<header class="service-header">
						<div class="service-icon"></div>
						<h3>Partnership Network</h3>
						<p class="service-department">Global Roll-out, Activation</p>
					</header>
					<p>To realize your brand’s potential, it has to be tailored for its audience. And when you’re a global brand, translation isn’t enough. You need to make sure you speak to your audience using the right cultural nuances too. Together with trusted partners, Strangelove can deliver your brand and communication solutions globally.</p>
					<p>With our in-house account and program team we support an international network of in-market creatives, so we can activate any brand in any market in a very agile and flexible way.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="interlude dark">
		<p class="emphasize">The future of business is design</p>
	</section>
{% endblock %}
