@import '../vendor/normalize';
@import '../vendor/bourbon/bourbon';

$img: '/img/cases/ing';

@import '../fonts';
@import '../base';
@import '../case-base';
@import '../header';
@import '../footer';

@import '../modules/devices';

/** generic stuff */
.ing {
	.header-main {
		position: fixed;
	}
	.logo a, .nav-primary a {
		color: #333;
	}
}

/** mood images */
.mood {
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 800px;
	border-bottom: 1px solid #ff7245;
	&:before, &:after {
		content: ' ';
		position: absolute;
		bottom: 0;
	}
	&:before {
		right: 50%;
		width: 631px;
		height: 419px;
		margin: 0 -30px;
		background: url(#{$img}/logo-large.png);
	}
	&:after {
		left: 50%;
		width: 448px;
		height: 724px;
		margin: 0 0 0 60px;
		background: url(#{$img}/sietske.jpg);
	}
}

/** case summary */
.case-summary {
	position: fixed;
	z-index: 2;
	top: 390px;
	left: 50%;
	width: 260px;
	margin: -50px 0 0 -130px;
	padding: 18px 0;
	font-size: 18px;
	text-align: center;
	text-rendering: optimizeLegibility;
	&:before, &:after {
		content: ' ';
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		background: #333;
	}
	&:before {
		top: 0;
		left: 0;
	}
	&:after {
		right: 0;
		bottom: 0;
	}
	strong {
		display: block;
		font: 700 36px 'Ubuntu';
		letter-spacing: 4px;
		text-transform: uppercase;
	}
	span {
		display: block;
		color: #ff7245;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

}

/** client */
.brand-logo {
	position: fixed;
	top: 100%;
	left: 50%;
	width: 700px;
	height: 200px;
	margin: 0 0 0 -170px;
	background: url(#{$img}/logo-raw.png) no-repeat 10px 13px;
}
.logo-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 0;
	background: #fff url(#{$img}/logo.png) no-repeat 10px 13px;
	&:after {
		content: ' ';
		position: absolute;
		top: 0;
		left: 100%;
		bottom: 0;
		width: 3px;
		background: #ff7245;
	}
}
.brand-man {
	position: fixed;
	top: 100%;
	left: 50%;
	width: 1060px;
	height: 711px;
	margin: 0 0 0 -530px;
	border-bottom: 1px solid #ff7245;
	background: url(#{$img}/man.jpg) no-repeat;
}
.brand-ribbon {
	position: fixed;
	top: 100%;
	left: 50%;
	width: 1060px;
	height: 100px;
	margin: 535px 0 0 -530px;
	background: url(#{$img}/ribbon.png);
}

/** print */
.flyer-wrap {
	overflow: hidden;
	position: fixed;
	top: 100%;
	width: 100%;
	height: 600px;
	background: #add9e7;
}
.flyer {
	height: 33600px;
	background: url(#{$img}/Sprite1.jpg) no-repeat center 0, url(#{$img}/Sprite2.jpg) no-repeat center 7800px, url(#{$img}/Sprite3.jpg) no-repeat center 15600px, url(#{$img}/Sprite4.jpg) no-repeat center 23400px, url(#{$img}/Sprite5.jpg) no-repeat center 31200px;
}
.desc-print {
	top: 120%;
	margin: 650px 0 0;
}

/** iconography */
.icons {
	position: fixed;
	top: 100%;
	left: 50%;
	width: 1600px;
	height: 1022px;
	margin: 0 0 0 -800px;
	padding: 0;
	list-style: none;
	background: url(#{$img}/bg-icons.png);
	li {
		position: absolute;
	}
}
.speechbubble {
	top: 292px;
	left: 340px;
	width: 74px;
	height: 50px;
	background: url(#{$img}/icons/speechbubble.png);
	@include transform(translateY(50px));
}
.senior {
	top: 272px;
	left: 519px;
	width: 50px;
	height: 81px;
	background: url(#{$img}/icons/senior.png);
	@include transform(translateY(54px));
}
.form {
	top: 321px;
	left: 663px;
	width: 71px;
	height: 73px;
	background: url(#{$img}/icons/form.png);
	@include transform(translateY(56px));
}
.envelope {
	top: 313px;
	left: 798px;
	width: 110px;
	height: 46px;
	background: url(#{$img}/icons/envelope.png);
	@include transform(translateY(52px));
}
.hand {
	top: 367px;
	left: 1052px;
	width: 63px;
	height: 89px;
	background: url(#{$img}/icons/hand.png);
	@include transform(translateY(106px));
}
.form-hand {
	top: 292px;
	left: 1205px;
	width: 47px;
	height: 88px;
	background: url(#{$img}/icons/form-hand.png);
	@include transform(translateY(52px));
}
.moneybag {
	top: 421px;
	left: 328px;
	width: 222px;
	height: 126px;
	background: url(#{$img}/icons/moneybag.png);
	@include transform(translateY(100px));
}
.lock {
	top: 432px;
	left: 628px;
	width: 46px;
	height: 60px;
	background: url(#{$img}/icons/lock.png);
	@include transform(translateY(104px));
}
.eye {
	top: 423px;
	left: 838px;
	width: 81px;
	height: 50px;
	background: url(#{$img}/icons/eye.png);
	@include transform(translateY(102px));
}
.piggybank {
	top: 537px;
	left: 731px;
	width: 128px;
	height: 121px;
	background: url(#{$img}/icons/piggybank.png);
	@include transform(translateY(150px));
}
.book {
	top: 549px;
	left: 1043px;
	width: 97px;
	height: 77px;
	background: url(#{$img}/icons/book.png);
	@include transform(translateY(152px));
}
.suitcase {
	top: 664px;
	left: 959px;
	width: 102px;
	height: 85px;
	background: url(#{$img}/icons/suitcase.png);
	@include transform(translateY(204px));
}
.male {
	top: 626px;
	left: 1217px;
	width: 38px;
	height: 86px;
	background: url(#{$img}/icons/male.png);
	@include transform(translateY(200px));
}
.desc-iconography {
	top: 100%;
	left: 50%;
	margin: 200px 0 0 -500px;
}

/** website */
.device {
	position: fixed;
	top: 100%;
	left: 50%;
}
.device-imac {
	z-index: 1;
	margin: 0 0 0 -300px;
	img {
		margin: 0 0 0 -15px;
	}
}
.device-ipad {
	z-index: 2;
	margin: 206px 0 0 -500px;
}
.device-iphone {
	z-index: 3;
	margin: 375px 0 0 -195px;
}

/** infographics */
.infographics-ipad {
	position: fixed;
	top: 100%;
	left: 50%;
	width: 1370px;
	height: 717px;
	margin: 260px 0 0 -685px;
	div {
		position: absolute;
	}
	.el1 {
		z-index: 10;
		top: 103px;
		left: 568px;
		width: 556px;
		height: 246px;
		@include transform(translateY(-260px));
		background: url(#{$img}/ipad/1.png);
	}
	.el2 {
		z-index: 9;
		top: 159px;
		left: 751px;
		width: 206px;
		height: 41px;
		@include transform(translateY(-240px));
		background: url(#{$img}/ipad/2.png);
	}
	.el3 {
		z-index: 8;
		top: 180px;
		left: 878px;
		width: 106px;
		height: 99px;
		@include transform(translateY(-220px));
		background: url(#{$img}/ipad/3.png);
	}
	.el4 {
		z-index: 7;
		top: 254px;
		left: 790px;
		width: 109px;
		height: 30px;
		@include transform(translateY(-200px));
		background: url(#{$img}/ipad/4.png);
	}
	.el5 {
		z-index: 6;
		top: 228px;
		left: 715px;
		width: 99px;
		height: 53px;
		@include transform(translateY(-180px));
		background: url(#{$img}/ipad/5.png);
	}
	.el6 {
		z-index: 5;
		top: 181px;
		left: 715px;
		width: 75px;
		height: 57px;
		@include transform(translateY(-160px));
		background: url(#{$img}/ipad/6.png);
	}
	.el7 {
		z-index: 4;
		top: 240px;
		left: 463px;
		width: 405px;
		height: 148px;
		@include transform(translateY(-140px));
		background: url(#{$img}/ipad/7.png);
	}
	.el8 {
		z-index: 3;
		top: 324px;
		left: 602px;
		width: 222px;
		height: 83px;
		@include transform(translateY(-120px));
		background: url(#{$img}/ipad/8.png);
	}
	.el9 {
		z-index: 2;
		top: 288px;
		left: 200px;
		width: 543px;
		height: 261px;
		@include transform(translateY(-100px));
		background: url(#{$img}/ipad/9.png);
	}
	.ipad-bg {
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(#{$img}/ipad/ipad.png);
	}
}

/** mobile */
.mobile-screen-1 {
	position: fixed;
	z-index: 3;
	top: 100%;
	right: 30px;
	width: 471px;
	height: 601px;
	margin: 90px 0 0;
	background: url(#{$img}/mobile-1.png);
}
.mobile-screen-2 {
	position: fixed;
	z-index: 2;
	top: 100%;
	right: -55px;
	width: 472px;
	height: 603px;
	margin: 45px 0 0;
	background: url(#{$img}/mobile-2.png);
}
.mobile-screen-3 {
	position: fixed;
	z-index: 1;
	top: 100%;
	right: -140px;
	width: 472px;
	height: 604px;
	background: url(#{$img}/mobile-3.png);
}
.desc-mobile {
	top: 100%;
	left: 50%;
	margin: 0 0 0 -500px;
}
