@import '../vendor/normalize';
@import '../vendor/bourbon/bourbon';

$img: '/img/cases/litedark';

@import '../fonts';
@import '../base';
@import '../case-base';
@import '../header';
@import '../footer';

.litedark {
	background: #f8f7f5;
}

.mood {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width:  100%;
	height: 800px;
	background: url(#{$img}/cover.jpg) no-repeat center top;
}

.case-summary {
	width: 300px;
	margin-left: -150px;
}

/** client */
.client-cup {
	position: fixed;
	z-index: 4;
	top: 100%;
	right: -300px;
	width: 485px;
	height: 674px;
	margin: 140px 0 0;
	background: url(#{$img}/cup.png);
}
.client-strawberry {
	position: fixed;
	z-index: 3;
	top: 100%;
	right: -225px;
	width: 353px;
	height: 291px;
	margin: 495px 0 0;
	background: url(#{$img}/strawberry.png);
}
.client-orange {
	position: fixed;
	z-index: 2;
	top: 100%;
	right: -130px;
	width: 498px;
	height: 416px;
	margin: 340px 0 0;
	background: url(#{$img}/orange.png);
}
.client-leaves {
	position: fixed;
	z-index: 1;
	top: 100%;
	right: -350px;
	width: 363px;
	height: 540px;
	background: url(#{$img}/leaves.png);
}

/** brand identity */
.leaves1 {
	position:fixed;
	z-index: 6;
	top: 105%;
	left: -40px;
	width: 248px;
	height: 293px;
	margin: -50px 0 0;
	background: url(#{$img}/leaves1.png);
}
.leaves2 {
	position:fixed;
	z-index: 6;
	top: 115%;
	right: -30px;
	width: 83px;
	height: 138px;
	margin: -10px 0 0;
	background: url(#{$img}/leaves2.png);
}
.brand-wrap {
	overflow: hidden;
	position: fixed;
	top: 100%;
	z-index: 5;
	width: 100%;
	height: 787px;
	background: url(#{$img}/bg-wood.jpg) no-repeat center top;
}
.desc-brand {
	position: static;
	margin: 180px auto 0;
}
.products {
	position: absolute;
	top: 365px;
	right: 0;
	left: 0;
	height: 422px;
	background: url(#{$img}/products.png) no-repeat center;
}
.circles {
	position: fixed;
	z-index: 4;
	top: 100%;
	right: 0;
	left: 0;
	height: 120px;
	margin: 580px 0 0;
	background: url(#{$img}/circles.png) no-repeat center;
}
.logo-final {
	position: fixed;
	top: 100%;
	left: 50%;
	width: 601px;
	height: 219px;
	margin: 0 0 0 -300px;
	background: url(#{$img}/logo-final.png);
}
