@import '../vendor/normalize';
@import '../vendor/bourbon/bourbon';

$img: '/img/cases/slimleren';

@import '../fonts';
@import '../base';
@import '../case-base';
@import '../header';
@import '../footer';

@include keyframes(clock){
	from {
		@include transform(rotate(0));
	}
	to {
		@include transform(rotate(360deg));
	}
}

@include keyframes(sausage){
	from {
		@include transform(rotate(-5deg));
	}
	to {
		@include transform(rotate(5deg));
	}
}

@mixin animated-clock {
	width: 107px;
	height: 107px;
	background: url(#{$img}/client-clock.png);
	&:before, &:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 6px;
		border-radius: 3px;
		background: rgba(100, 100, 100, .8);
	}
	&:before {
		height: 22px;
		margin: -22px -3px;
		@include transform-origin(3px 19px);
		@include animation(clock 6s linear infinite);
	}
	&:after {
		height: 16px;
		margin: -16px -3px;
		@include transform-origin(3px 13px);
		@include animation(clock 72s linear infinite);
	}
}

.description h2:after {
	background: #2bbaee;
}

.mood {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width:  100%;
	height: 800px;
	background: url(#{$img}/cover.jpg) no-repeat center top;
	background-size: cover;
}

.case-summary {
	width: 300px;
	margin-left: -150px;
}

/** client */
.feather1 {
	position: fixed;
	z-index: 2;
	top: 100%;
	left: 130px;
	width: 67px;
	height: 57px;
	background: url(#{$img}/feather1.png);
}
.feather2 {
	position: fixed;
	top: 100%;
	left: 255px;
	width: 109px;
	height: 69px;
	background: url(#{$img}/feather2.png);
}
.feather3 {
	position: fixed;
	top: 100%;
	left: 370px;
	width: 55px;
	height: 25px;
	background: url(#{$img}/feather3.png);
}
.feather4 {
	position: fixed;
	top: 100%;
	left: 135px;
	width: 69px;
	height: 47px;
	background: url(#{$img}/feather4.png);
}
.client-phone {
	position: fixed;
	z-index: 1;
	top: 100%;
	width: 150px;
	height: 330px;
	background: url(#{$img}/phone-begin.gif);
}
.client-teacher {
	position: fixed;
	z-index: 3;
	top: 100%;
	right: 0;
	width: 140px;
	height: 597px;
	background: url(#{$img}/client-teacher.png);
}
.client-student {
	position: fixed;
	z-index: 2;
	top: 100%;
	right: 70px;
	width: 276px;
	height: 382px;
	background: url(#{$img}/client-student.png);
}
.client-clock {
	@include animated-clock;
	position: fixed;
	z-index: 1;
	top: 100%;
	right: 320px;
}

/** character development */
.owl-wrap {
	position: fixed;
	z-index: 2;
	top: 100%;
	width: 185px;
	height: 219px;
	&:after {
		content: ' ';
		position: absolute;
		z-index: 1;
		top: 206px;
		width: 100%;
		height: 31px;
		background: url(#{$img}/branch.png) no-repeat center top;
	}
	.owl {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
		background: no-repeat center bottom;
	}
	.wing-left, .wing-right {
		position: absolute;
		z-index: 3;
		top: 119px;
		height: 81px;
	}
	.wing-left {
		left: 12px;
		width: 61px;
		background: url(#{$img}/wing1.png);
		@include transform-origin(8px 4px);
		@include transform(rotate(150deg));
	}
	.wing-right {
		right: 12px;
		width: 62px;
		background: url(#{$img}/wing2.png);
		@include transform-origin(54px 4px);
		@include transform(rotate(-150deg));
	}
}
.char-owl1 {
	right: 50%;
	margin-right: 300px;
	.owl {
		background-image: url(#{$img}/owl1.png);
	}
}
.char-owl2 {
	right: 50%;
	margin-right: 40px;
	.owl {
		background-image: url(#{$img}/owl2.png);
	}
}
.char-owl3 {
	left: 50%;
	margin-left: 40px;
	.owl {
		background-image: url(#{$img}/owl3.png);
	}
	.wing-left {
		background-image: url(#{$img}/wing3.png);
	}
}
.char-owl4 {
	left: 50%;
	margin-left: 300px;
	.owl {
		background-image: url(#{$img}/owl4.png);
	}
	.wing-left {
		background-image: url(#{$img}/wing3.png);
	}
	.wing-right {
		background: url(#{$img}/wing4.png) no-repeat right top;
	}
}
.desc-character {
	z-index: 1;
	top: 120%;
	margin: 500px 0 0;
}

/** visuals */
.visuals-animation {
	position: fixed;
	top: 100%;
	right: 50%;
	width: 720px;
	height: 490px;
	background: url(#{$img}/visuals-animation-begin.gif);
}
.visuals-clock {
	@include animated-clock;
	position: absolute;
	top: 150px;
	left: 190px;
	@include transform(scale(0.8));
}
.visuals-controller {
	position: fixed;
	z-index: 3;
	top: 100%;
	right: 80px;
	width: 125px;
	height: 114px;
	background: url(#{$img}/visuals-controller.png);
}
.visuals-ball {
	position: fixed;
	z-index: 2;
	top: 100%;
	right: 0;
	width: 123px;
	height: 153px;
	background: url(#{$img}/visuals-ball.png);
}
.visuals-note {
	position: fixed;
	z-index: 1;
	top: 100%;
	right: 120px;
	width: 56px;
	height: 69px;
	background: url(#{$img}/visuals-note.png);
}
.desc-visuals {
	left: 50%;
	margin: 0 0 0 100px;
}

/** translations */
.trans-book {
	position: fixed;
	top: 100%;
	right: 465px;
	width: 187px;
	height: 209px;
	background: url(#{$img}/trans-book.png);
}
.trans-owl {
	position: fixed;
	top: 100%;
	right: 100px;
	width: 351px;
	height: 357px;
	background: url(#{$img}/butcher-owl.png);
	.wing-left {
		position: absolute;
		top: 143px;
		left: -42px;
		width: 250px;
		height: 155px;
		background: url(#{$img}/butcher-wing.png);
		@include transform-origin(61px 1px);
		@include transform(rotate(30deg));
	}
	.wing-right-tip {
		position: absolute;
		z-index: 2;
		top: 115px;
		left: 322px;
		width: 44px;
		height: 44px;
		background: url(#{$img}/butcher-wingtip.png);
	}
}
.sausage1 {
	position: absolute;
	z-index: 1;
	top: 120px;
	left: 320px;
	width: 35px;
	height: 72px;
	background: url(#{$img}/butcher-sausage-1.png);
	@include transform-origin(17px 17px);
	@include animation(sausage 1.5s ease-in-out infinite alternate);
}
.sausage2 {
	position: absolute;
	top: 68px;
	width: 35px;
	height: 72px;
	background: url(#{$img}/butcher-sausage-1.png);
	@include transform-origin(17px 17px);
	@include animation(sausage 1.5s ease-in-out infinite alternate);
}
.sausage3 {
	position: absolute;
	top: 68px;
	width: 35px;
	height: 69px;
	background: url(#{$img}/butcher-sausage-2.png);
	@include transform-origin(17px 17px);
	@include animation(sausage 1.5s ease-in-out infinite alternate);
}
.desc-translations {
	left: 10%;
}

/** explanimation */
.expl-bg {
	position: fixed;
	z-index: 1;
	top: 100%;
	width: 100%;
	height: 616px;
	background: url(#{$img}/expl-bg.png) no-repeat center;
}
.expl-screen {
	position: fixed;
	z-index: 2;
	top: 140%;
	left: 50%;
	width: 904px;
	height: 574px;
	margin: 0 0 0 -452px;
	padding: 11px 0 0 106px;
	background: url(#{$img}/expl-screen.png);
}
.expl-book1 {
	position: absolute;
	top: -155px;
	left: 8px;
	width: 61px;
	height: 113px;
	background: url(#{$img}/expl-book1.png);
}
.expl-book2 {
	position: absolute;
	top: -84px;
	left: 55px;
	width: 88px;
	height: 38px;
	background: url(#{$img}/expl-book2.png);
}
.expl-book3 {
	position: absolute;
	top: -147px;
	left: 46px;
	width: 101px;
	height: 35px;
	background: url(#{$img}/expl-book3.png);
}
.expl-glasses {
	position: absolute;
	top: -19px;
	right: 33px;
	width: 145px;
	height: 57px;
	background: url(#{$img}/expl-glasses.png);
}
.desc-explanimation {
	z-index: 1;
	top: 120%;
	margin: 700px 0 0;
}

/** website */
.website-layers {
	position: fixed;
	top: 100%;
	left: 50%;
	div {
		position: absolute;
		width: 875px;
		height: 420px;
	}
	.website-layer1 {
		z-index: 6;
		background: url(#{$img}/website-1.png);
		@include transform(translateX(200px));
	}
	.website-layer2 {
		z-index: 5;
		top: 88px;
		background: url(#{$img}/website-2.png);
		@include transform(translateX(160px));
	}
	.website-layer3 {
		z-index: 4;
		top: 176px;
		background: url(#{$img}/website-3.png);
		@include transform(translateX(120px));
	}
	.website-layer4 {
		z-index: 3;
		top: 264px;
		width: 1012px;
		height: 501px;
		margin: -24px 0 0 -71px;
		background: url(#{$img}/website-4.png);
		@include transform(translateX(80px));
	}
	.website-layer5 {
		z-index: 2;
		top: 409px;
		background: url(#{$img}/website-5.png);
		@include transform(translateX(40px));
	}
	.website-layer6 {
		z-index: 1;
		top: 497px;
		background: url(#{$img}/website-6.png);
	}
}
.desc-website {
	top: 120%;
	left: 10%;
}

/** landingpage */
.landing-bg-wrap {
	overflow: hidden;
	position: fixed;
	top: 120%;
	left: 50%;
	width: 1600px;
	height: 1492px;
	margin: 0 0 0 -800px;
	&:before, &:after {
		content: '';
		position: absolute;
		top: 0;
		z-index: 2;
		display: block;
		width: 100%;
		height: 746px;
		background: url(#{$img}/landing-bg-mask.png);
		@include transform(translateZ(0));
	}
	&:after {
		top: 50%;
		@include transform(rotate(180deg) translateZ(0));
	}
}
.landing-bg {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 3000px;
	background: url(#{$img}/landing-bg.png);
	@include transform(translateZ(0));
}
.landing-eraser {
	position: absolute;
	z-index: 3;
	top: 920px;
	right: 50%;
	width: 275px;
	height: 151px;
	margin: 0 400px 0 0;
	background: url(#{$img}/landing-eraser.png);
	@include transform(translateZ(0));
}
.landing-compass {
	position: absolute;
	z-index: 3;
	top: 1420px;
	right: 50%;
	width: 342px;
	height: 390px;
	margin: 0 500px 0 0;
	background: url(#{$img}/landing-compass.png);
	@include transform(translateZ(0));
}
.landing-pencil {
	position: absolute;
	z-index: 3;
	top: 1330px;
	left: 50%;
	width: 182px;
	height: 129px;
	margin: 0 0 0 500px;
	background: url(#{$img}/landing-pencil.png);
	@include transform(translateZ(0));
}
.landing-owl {
	position: absolute;
	z-index: 3;
	top: 1710px;
	left: 50%;
	width: 175px;
	height: 198px;
	margin: 0 0 0 420px;
	background: url(#{$img}/landing-owl.png);
	@include transform(translateZ(0));
}
.landing-ipad {
	position: fixed;
	top: 150%;
	left: 50%;
	width: 522px;
	height: 775px;
	margin: 0 0 0 -261px;
	background: url(#{$img}/landing-ipad.png);
	.viewport {
		overflow: hidden;
		width: 467px;
		height: 622px;
		margin: 76px 0 0 27px;
		background: #fff;
	}
	img {
		display: block;
		margin: 0 0 0 -81px;
	}
}

/** tests */
.tests-layout {
	position: fixed;
	top: 100%;
	left: 0;
	width: 912px;
	height: 1515px;
	background: url(#{$img}/tests-layout.png);
}
.tests-tip {
	position: fixed;
	top: 100%;
	left: 886px;
	width: 259px;
	height: 334px;
	background: url(#{$img}/tests-tip.png);
}
.desc-tests {
	top: 130%;
	left: 912px;
}

/** product prices */
.prices-bg-wrap {
	overflow: hidden;
	position: fixed;
	top: 120%;
	width: 100%;
	height: 400px;
	margin: 100px 0 0;
}
.prices-bg {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1200px;
	background: url(#{$img}/prices-bg.png) top center;
}
.product-price1 {
	position: fixed;
	top: 110%;
	right: 50%;
	width: 399px;
	height: 433px;
	margin: 9px 133px 0 0;
	background: url(#{$img}/price-1.png);
}
.product-price2 {
	position: fixed;
	top: 100%;
	left: 50%;
	width: 399px;
	height: 453px;
	margin: 0 0 0 -199px;
	background: url(#{$img}/price-2.png);
}
.product-price3 {
	position: fixed;
	top: 110%;
	left: 50%;
	width: 399px;
	height: 433px;
	margin: 9px 0 0 132px;
	background: url(#{$img}/price-3.png);
}
.desc-prices {
	top: 120%;
	margin: 650px 0 0;
}
