*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}
body {
	height: 100%;
	color: #333;
	font: 15px/25px 'Aleo', serif;
	-webkit-font-smoothing: antialiased;
}

h2 {
	margin: 0 0 110px;
	font: 24px/25px Ubuntu, sans-serif;
	letter-spacing: 3px;
	text-align: center;
	text-transform: uppercase;
}
h3 {
	margin: 0;
	font: 18px/25px Ubuntu, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}

p {
	margin: 0 0 18px;
}

a {
	color: #f36523;
	text-decoration: none;
}

.wrap {
	max-width: 1280px;
	margin: 0 auto;
}

.btn {
	display: inline-block;
	height: 40px;
	padding: 0 40px;
	border-bottom: 2px solid #37758d;
	background: #2795bd;
	color: #fff;
	font: 14px Ubuntu;
	letter-spacing: 4px;
	line-height: 42px;
	text-transform: uppercase;
}

.page {
	height: 100%;
	&.dark {
		background: #333b4a;
		color: #fff;
		a {
			color: #fff;
		}
	}
	.push {
		display: block;
		padding: 0 0 100px;
	}
	.wrap {
		height: 100%;
	}
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
