@include keyframes(borderGrow){
	to {
		width: 100%;
	}
}
@include keyframes(fadeSlideIn){
	to {
		@include transform(translateX(0));
		opacity: 1;
	}
}

h2 {
	margin: 0;
}

.description {
	position: fixed;
	top: 100%;
	left: 35%;
	width: 30%;
	text-align: center;
	&.left {
		text-align: left;
		h2 {
			text-align: left;
			&:after {
				margin-left: 0;
			}
		}
	}
	&.right {
		left: auto;
		right: 35%;
		text-align: right;
		h2 {
			text-align: right;
			&:after {
				margin-right: 0;
			}
		}
	}
	h2:after {
		content: ' ';
		display: block;
		width: 30px;
		height: 4px;
		margin: 30px auto 24px;
		background: #0078c1;
	}
}

.case-summary {
	position: fixed;
	z-index: 2;
	top: 390px;
	left: 50%;
	width: 800px;
	margin: -50px 0 0 -400px;
	padding: 18px 0;
	color: #fff;
	font-size: 18px;
	text-align: center;
	text-rendering: optimizeLegibility;
	&:before, &:after {
		content: ' ';
		display: block;
		position: absolute;
		width: 0;
		height: 1px;
		background: #fff;
		@include animation(borderGrow 1s 1s forwards);
	}
	&:before {
		top: 0;
		left: 0;
	}
	&:after {
		right: 0;
		bottom: 0;
	}
	strong {
		display: block;
		font: 700 36px 'Ubuntu';
		letter-spacing: 4px;
		text-transform: uppercase;
		opacity: 0;
		@include transform(translateX(-20px));
		@include animation(fadeSlideIn 1s 1s forwards);
	}
	span {
		display: block;
		letter-spacing: 2px;
		text-transform: uppercase;
		opacity: 0;
		@include transform(translateX(20px));
		@include animation(fadeSlideIn 1s 1s forwards);
	}
}

.other-cases {
	position: fixed;
	z-index: 2;
	top: 100%;
	width: 100%;
	font-style: italic;
	h2:after {
		content: ' ';
		display: block;
		width: 30px;
		height: 4px;
		margin: 30px auto 60px;
		background: #f47318;
	}
	ul {
		text-align: center;
	}
	li {
		display: inline-block;
		width: 139px;
		height: 175px;
		margin: 0 0 0 80px;
		&:first-child {
			margin-left: 0;
		}
	}
	a {
		position: relative;
		display: block;
		width: 150px;
		height: 100px;
		color: #333;
		&:before, &:after {
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
			width: 139px;
			height: 117px;
		}
		&:before {
			z-index: 3;
			background: url(/img/cases/buttons/bg.png);
		}
		&:after {
			z-index: 5;
		}
		&.pbcf:after {
			background: url(/img/cases/buttons/pbcf_mask.png);
		}
		&.litedark:after {
			background: url(/img/cases/buttons/litedark_mask.png);
		}
		&.slimleren:after {
			background: url(/img/cases/buttons/slimleren_mask.png);
		}
		&.ing:after {
			background: url(/img/cases/buttons/ing_mask.png);
		}
		&.kpmg:after {
			background: url(/img/cases/buttons/kpmg_mask.png);
		}
		img {
			position: relative;
			z-index: 4;
			width: 139px;
			height: 117px;
			-webkit-transition: -webkit-transform .15s ease-out;
		}
		span {
			overflow: hidden;
			display: block;
			text-overflow: ellipsis;
			white-space: nowrap;
			&:before {
				content: '';
				position: absolute;
				z-index: 4;
				left: 50%;
				bottom: 100%;
				width: 22px;
				height: 10px;
				margin: 0 0 0 -11px;
				background: url(/img/arrow-down-small.png);
				opacity: 0;
				@include transition(opacity .2s ease-in-out);
			}
		}
		&.active {
			opacity: .6;
			span:before {
				opacity: 1;
			}
		}
		&:hover img {
			-webkit-transform: translateX(-6px);
		}
	}
	img {
		display: block;
	}
}

.footer-main {
	position: fixed;
	z-index: 2;
	width: 100%;
	bottom: -100%;
	background: #333;
	color: #ccc;
	a {
		color: #ccc;
	}
	.logo, h4 {
		color: #fff;
	}
	.social a {
		opacity: .6;
		&.angellist {
			background-position: 0 -24px;
		}
		&.github {
			background-position: -16px -24px;
		}
		&.stackoverflow {
			background-position: -40px -24px;
		}
		&.glassdoor {
			background-position: -60px -24px;
		}
		&.twitter {
			background-position: -74px -24px;
		}
		&.linkedin {
			background-position: -94px -24px;
		}
		&.facebook {
			background-position: -113px -24px;
		}
	}
	.copyright {
		color: #ccc;
	}
	.vea {
		background-position: 0 0;
	}
}
