@include keyframes(borderGrow){
	to {
		width: 100%;
	}
}
@include keyframes(fadeSlideIn){
	to {
		@include transform(translateX(0));
		opacity: 1;
	}
}

h2 {
	margin: 0;
}

.description {
	position: fixed;
	top: 100%;
	left: 35%;
	width: 30%;
	text-align: center;
	&.left {
		text-align: left;
		h2 {
			text-align: left;
			&:after {
				margin-left: 0;
			}
		}
	}
	&.right {
		left: auto;
		right: 35%;
		text-align: right;
		h2 {
			text-align: right;
			&:after {
				margin-right: 0;
			}
		}
	}
	h2:after {
		content: ' ';
		display: block;
		width: 30px;
		height: 4px;
		margin: 30px auto 24px;
		background: #0078c1;
	}
}

.case-summary {
	position: fixed;
	z-index: 2;
	top: 390px;
	left: 50%;
	width: 800px;
	margin: -50px 0 0 -400px;
	padding: 18px 0;
	color: #fff;
	font-size: 18px;
	text-align: center;
	text-rendering: optimizeLegibility;
	&:before, &:after {
		content: ' ';
		display: block;
		position: absolute;
		width: 0;
		height: 1px;
		background: #fff;
		@include animation(borderGrow 1s 1s forwards);
	}
	&:before {
		top: 0;
		left: 0;
	}
	&:after {
		right: 0;
		bottom: 0;
	}
	strong {
		display: block;
		font: 700 36px 'Ubuntu';
		letter-spacing: 4px;
		text-transform: uppercase;
		opacity: 0;
		@include transform(translateX(-20px));
		@include animation(fadeSlideIn 1s 1s forwards);
	}
	span {
		display: block;
		letter-spacing: 2px;
		text-transform: uppercase;
		opacity: 0;
		@include transform(translateX(20px));
		@include animation(fadeSlideIn 1s 1s forwards);
	}
}
