.footer-main {
	overflow: hidden;
	padding: 60px 0;
	font-size: 12px;
	.footer-col {
		display: none;
		&:first-child {
			display: block;
		}
	}
	.identity {
		text-align: center;
	}
	@media screen and (min-width: 600px) {
		.footer-col {
			display: block;
			float: left;
			width: 22%;
			&:first-child {
				width: 56%;
			}
			&.extra {
				display: none;
			}
		}
		.identity {
			width: 240px;
			width: 240px;
			padding: 8px 0 0;
			text-align: right;
		}
	}
	@media screen and (min-width: 768px) {
		.footer-col {
			width: 25%;
			&:first-child {
				width: 50%;
			}
		}
	}
	@media screen and (min-width: 1024px) {
		.footer-col {
			width: 20%;
			&:first-child {
				width: 40%;
			}
			&.extra {
				display: block;
			}
		}
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	a {
		color: #333;
		@include transition(color .2s ease-in-out);
		&:hover {
			color: #2795bd;
			opacity: 1;
		}
	}
	.logo {
		display: inline-block;
		a {
			background-image: url(/img/logo-black.svg);
			text-indent: 999em;
		}
	}
	.slogan {
		margin: 0 0 21px;
		color: #2795bd;
		font-size: 16px;
	}
	.social {
		display: inline-block;
		overflow: hidden;
		margin: 0 0 14px;
		li {
			float: left;
			margin: 0 0 0 16px;
			&:first-child {
				margin-left: 0;
			}
		}
		a {
			overflow: hidden;
			display: block;
			height: 24px;
			background: url(/img/social.png);
			text-indent: 999em;
			opacity: .6;
			@include transition(opacity .2s ease-in-out);
			&:hover {
				opacity: 1;
			}
			&.angellist {
				width: 15px;
			}
			&.github {
				width: 23px;
				background-position: -16px 0;
			}
			&.stackoverflow {
				width: 19px;
				background-position: -40px 0;
			}
			&.glassdoor {
				width: 13px;
				background-position: -60px 0;
			}
			&.twitter {
				width: 20px;
				background-position: -74px 0;
			}
			&.linkedin {
				width: 18px;
				background-position: -94px 0;
			}
			&.facebook {
				width: 18px;
				background-position: -113px 0;
			}
		}
	}
	.copyright {
		margin: 0;
		color: #666;
	}
	.vea {
		display: block;
		width: 51px;
		height: 17px;
		background: url(/img/vea.png) 0 -17px;
		opacity: .6;
		@include transition(opacity .2s ease-in-out);
		&:hover {
			opacity: 1;
		}
	}
}
