.header-main {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	background: rgba(0, 0, 0, .3);
	@include transform(translateZ(0));
	@include backface-visibility(hidden);
	@include transition(background .5s);
	&:hover {
		background: #242934;
	}
	.logo {
		float: left;
		line-height: 80px;
	}
}

.nav-primary {
	float: right;
	margin-right: 18px;
	font: bold italic 14px 'Aleo';
	line-height: 88px;
	li {
		float: left;
		margin-left: 60px;
		&:first-child {
			margin-left: 0;
		}
	}
	a {
		color: #fff;
		text-decoration: none;
	}
	.count {
		position: relative;
		top: -2px;
		display: inline-block;
		width: 14px;
		margin: 0 0 0 2px;
		border-radius: 7px;
		background: #2795bd;
		color: #fff;
		font-size: 9px;
		line-height: 14px;
		text-align: center;
	}
}

.light {
	.header-main {
		background: rgba(255, 255, 255, .8);
		border-bottom: 1px solid rgba(0, 0, 0, .1);
		&:hover {
			background: #fff;
		}
	}
	.header-main a, .nav-primary a {
		color: #333;
	}
}
