.header-main {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	@include transform(translateZ(0));
	@include backface-visibility(hidden);
	.logo {
		float: left;
		line-height: 60px;
		a {
			height: 60px;
		}
	}
}

.nav-primary {
	float: right;
	ul {
		font: bold italic 14px 'Aleo';
		line-height: 68px;
	}
	li {
		float: left;
		margin-left: 42px;
		&:first-child {
			margin-left: 0;
		}
		&.active a {
			border-bottom: 1px solid #fff;
		}
	}
	a {
		color: #fff;
		text-decoration: none;
	}
	.count {
		position: relative;
		top: -2px;
		display: inline-block;
		width: 14px;
		margin: 0 0 0 6px;
		border-radius: 7px;
		background: #2795bd;
		color: #fff;
		font-size: 9px;
		line-height: 14px;
		text-align: center;
	}
}

.light {
	.logo a {
		background-image: url(/img/logo-black.svg);
	}
	li.active a {
		border-bottom: 1px solid #333;
	}
}
