{% extends "../layouts/default.html" %}

{% block stylesheets %}
	{% parent %}
	<link rel="stylesheet" href="/css/cases/ing.css">
{% endblock %}

{% block scripts %}
	<script src="/js/ing.js"></script>
{% endblock %}

{% block bodytag %}
	<body class="ing">
{% endblock %}

{% block content %}
	<article class="case">
		<div class="mood"></div>

		<p class="case-summary">
			<strong>{{client}}</strong>
			<span>{{subtitle}}</span>
		</p>

		<!-- client -->
		<div class="description desc-client">
			<h2>{{section1.title}}</h2>
			{{section1.body|safe}}
		</div>

		<!-- brand -->
		<div class="brand-man"></div>
		<div class="brand-logo">
			<div class="logo-overlay"></div>
		</div>
		<div class="brand-ribbon"></div>
		<div class="description desc-brand">
			<h2>{{section2.title}}</h2>
			{{section2.body|safe}}
		</div>

		<!-- print -->
		<div class="flyer-wrap">
			<div class="flyer"></div>
		</div>
		<div class="description desc-print">
			<h2>{{section3.title}}</h2>
			{{section3.body|safe}}
		</div>

		<!-- iconography -->
		<ul class="icons">
			<li class="speechbubble"></li>
			<li class="senior"></li>
			<li class="form"></li>
			<li class="envelope"></li>
			<li class="hand"></li>
			<li class="form-hand"></li>
			<li class="moneybag"></li>
			<li class="lock"></li>
			<li class="eye"></li>
			<li class="piggybank"></li>
			<li class="book"></li>
			<li class="suitcase"></li>
			<li class="male"></li>
		</ul>
		<div class="description left desc-iconography">
			<h2>{{section4.title}}</h2>
			{{section4.body|safe}}
		</div>

		<!-- website -->
		<div class="device device-imac">
			<div class="viewport"><img src="/img/cases/ing/imacscreen.png" alt=""></div>
		</div>
		<div class="device device-ipad">
			<div class="viewport"><img src="/img/cases/ing/ipadscreen.png" alt=""></div>
		</div>
		<div class="device device-iphone">
			<div class="viewport"><img src="/img/cases/ing/iphonescreen.png" alt=""></div>
		</div>
		<div class="description desc-website">
			<h2>{{section5.title}}</h2>
			{{section5.body|safe}}
		</div>

		<!-- infographics -->
		<div class="infographics-ipad">
			<div class="el1"></div>
			<div class="el2"></div>
			<div class="el3"></div>
			<div class="el4"></div>
			<div class="el5"></div>
			<div class="el6"></div>
			<div class="el7"></div>
			<div class="el8"></div>
			<div class="el9"></div>
			<div class="ipad-bg"></div>
		</div>
		<div class="description desc-infographics">
			<h2>{{section6.title}}</h2>
			{{section6.body|safe}}
		</div>

		<!-- mobile -->
		<div class="mobile-screen-1"></div>
		<div class="mobile-screen-2"></div>
		<div class="mobile-screen-3"></div>
		<div class="description left desc-mobile">
			<h2>{{section7.title}}</h2>
			{{section7.body|safe}}
		</div>
	</article>

	<nav class="other-cases">
		<h2>Other cases</h2>
		<ul>
			<li><a href="/cases/kpmg-meijburg" class="kpmg"><img src="/img/cases/buttons/1_logo.png" alt="KPMG Meijburg &amp; Co"><span>KPMG Meijburg &amp; Co</span></a></li>
			<li><a href="/cases/ing-cdc" class="active ing"><img src="/img/cases/buttons/2_logo.png" alt="ING CDC"><span>ING CDC</span></a></li>
			<li><a href="/cases/litedark" class="litedark"><img src="/img/cases/buttons/7_logo.png" alt="Lite/Dark"><span>Lite/Dark</span></a></li>
			<li><a href="/cases/slimleren" class="slimleren"><img src="/img/cases/buttons/8_logo.png" alt="Slimleren"><span>Slimleren</span></a></li>
		</ul>
	</nav>
{% endblock %}
