{% extends "../layouts/default.html" %}

{% block stylesheets %}
	{% parent %}
	<link rel="stylesheet" href="/css/cases/litedark.css">
{% endblock %}

{% block scripts %}
	<script src="/js/litedark.js"></script>
{% endblock %}

{% block bodytag %}
	<body class="litedark">
{% endblock %}

{% block content %}
	<article class="case">
		<div class="mood"></div>

		<p class="case-summary">
			<strong>{{client}}</strong>
			<span>{{subtitle}}</span>
		</p>

		<!-- client -->
		<div class="client-cup"></div>
		<div class="client-strawberry"></div>
		<div class="client-orange"></div>
		<div class="client-leaves"></div>
		<div class="description desc-client">
			<h2>{{section1.title}}</h2>
			{{section1.body|safe}}
		</div>

		<!-- brand identity -->
		<div class="leaves1"></div>
		<div class="leaves2"></div>
		<section class="brand-wrap">
			<div class="products"></div>
		</section>
		<div class="circles"></div>
		<div class="description desc-brand">
			<h2>{{section2.title}}</h2>
			{{section2.body|safe}}
		</div>
		<div class="logo-final"></div>

		<!-- print -->
		<section class="flyer-bg">
			<div class="leaves3"></div>
			<div class="circle-splatter"></div>
		</section>
		<div class="flyer1"></div>
		<div class="flyer2"></div>
		<div class="description desc-print">
			<h2>{{section3.title}}</h2>
			{{section3.body|safe}}
		</div>

		<!-- product design -->
		<div class="product-wrap">
			<div class="product-carousel"></div>
		</div>
		<div class="description desc-design">
			<h2>{{section4.title}}</h2>
			{{section4.body|safe}}
		</div>

		<!-- result -->
		<div class="photos-wrap">
			<div class="photo1"></div>
			<div class="photo2"></div>
			<div class="photo3"></div>
			<div class="leaves4"></div>
			<div class="circle-red"></div>
		</div>
		<div class="description desc-result">
			<h2>{{section5.title}}</h2>
			{{section5.body|safe}}
		</div>
	</article>

	<nav class="other-cases">
		<h2>Other cases</h2>
		<ul>
			<li><a href="/cases/kpmg-meijburg" class="kpmg"><img src="/img/cases/buttons/1_logo.png" alt="KPMG Meijburg &amp; Co"><span>KPMG Meijburg &amp; Co</span></a></li>
			<li><a href="/cases/ing-cdc" class="ing"><img src="/img/cases/buttons/2_logo.png" alt="ING CDC"><span>ING CDC</span></a></li>
			<li><a href="/cases/litedark" class="active litedark"><img src="/img/cases/buttons/7_logo.png" alt="Lite/Dark"><span>Lite/Dark</span></a></li>
			<li><a href="/cases/slimleren" class="slimleren"><img src="/img/cases/buttons/8_logo.png" alt="Slimleren"><span>Slimleren</span></a></li>
		</ul>
	</nav>
{% endblock %}
