{% extends "../layouts/default.html" %}

{% block stylesheets %}
	{% parent %}
	<link rel="stylesheet" href="/css/cases/ing.css">
{% endblock %}

{% block scripts %}
	<script src="/js/ing.js"></script>
{% endblock %}

{% block bodytag %}
	<body class="ing">
{% endblock %}

{% block content %}
	<section class="mood"></section>

	<article class="case">
		<p class="case-summary">
			<strong>ING CDC</strong>
			<span>branding, digital</span>
		</p>

		<!-- client -->
		<div class="description client-description">
			<h2>The client</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		</div>

		<!-- brand -->
		<div class="brand-mood">
			<div class="man"></div>
			<div class="ing-logo">
				<div class="logo-overlay"></div>
			</div>
			<div class="ribbon"></div>
		</div>
		<div class="description brand-description">
			<h2>Brand identity</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		</div>

		<!-- print -->
		<div class="flyer-wrap">
			<div class="flyer"></div>
		</div>
		<div class="description print-description">
			<h2>Print</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		</div>

		<!-- iconography -->
		<ul class="icons">
			<li class="speechbubble"></li>
			<li class="senior"></li>
			<li class="form"></li>
			<li class="envelope"></li>
			<li class="hand"></li>
			<li class="form-hand"></li>
			<li class="moneybag"></li>
			<li class="lock"></li>
			<li class="eye"></li>
			<li class="piggybank"></li>
			<li class="book"></li>
			<li class="suitcase"></li>
			<li class="male"></li>
		</ul>
		<div class="description iconography-description left">
			<h2>Iconography</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		</div>

		<!-- website -->
		<div class="devices">
			<div class="device device-imac">
				<div class="viewport"><img src="/img/cases/ing/imacscreen.png" alt=""></div>
			</div>
			<div class="device device-ipad">
				<div class="viewport"><img src="/img/cases/ing/ipadscreen.png" alt=""></div>
			</div>
			<div class="device device-iphone">
				<div class="viewport"><img src="/img/cases/ing/iphonescreen.png" alt=""></div>
			</div>
			<div class="scrollbar">
				<div class="scrolltrack"></div>
			</div>
		</div>
		<div class="description website-description">
			<h2>Website</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		</div>

		<!-- infographics -->
		<div class="infographics-ipad">
			<div class="el1"></div>
			<div class="el2"></div>
			<div class="el3"></div>
			<div class="el4"></div>
			<div class="el5"></div>
			<div class="el6"></div>
			<div class="el7"></div>
			<div class="el8"></div>
			<div class="el9"></div>
			<div class="ipad-bg"></div>
		</div>
		<div class="description infographics-description">
			<h2>Infographics</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		</div>

		<!-- mobile -->
		<div class="mobile-screens">
			<div class="mobile-screen-1"></div>
			<div class="mobile-screen-2"></div>
			<div class="mobile-screen-3"></div>
		</div>
		<div class="description mobile-description left">
			<h2>Mobile</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		</div>
	</article>
{% endblock %}
