{% extends "../layouts/default.html" %}

{% block content %}
	<section class="page dark mood">
		<p class="mission"><strong>LITE/DARK</strong> <span>brand identity</span></p>
		<a href="#services" class="arrow-down continue">Continue</a>
	</section>

	<section class="page client">
		<div class="wrap">
			<h2>The client</h2>
			<p>
				The LITE/DARK concept was deliciously straightforward. Just coffee and
				juices, fruit and chocolate. All organic, hand made and fair-trade.
			</p>
			<div class="leaves"></div>
			<div class="orange"></div>
			<div class="strawberry"></div>
			<div class="cup"></div>
		</div>
	</section>

	<section class="brand-identity">
		<h2>Brand identity</h2>
		<p>
			Consumers have less time and the amount of content fighting for their
			attention is overwhelming. Traditional advertising is often money wasted.
		</p>
		<div class="products"></div>
	</section>

	<section class="final-logo">
		<div class="circles"></div>
	</section>
{% endblock %}
