{% extends "../layouts/default.html" %}

{% block stylesheets %}
	{% parent %}
	<link rel="stylesheet" href="/css/cases/slimleren.css">
{% endblock %}

{% block scripts %}
	<script src="/js/slimleren.js"></script>
{% endblock %}

{% block bodytag %}
	<body class="slimleren">
{% endblock %}

{% block content %}
	<article class="case">
		<div class="mood"></div>

		<p class="case-summary">
			<strong>{{client}}</strong>
			<span>{{subtitle}}</span>
		</p>

		<!-- client -->
		<div class="feather1"></div>
		<div class="feather2"></div>
		<div class="feather3"></div>
		<div class="feather4"></div>
		<div class="client-phone"></div>
		<div class="client-teacher"></div>
		<div class="client-student"></div>
		<div class="client-clock"></div>
		<div class="description desc-client">
			<h2>{{section1.title}}</h2>
			{{section1.body|safe}}
		</div>

		<!-- character development -->
		<div class="owl-wrap char-owl1">
			<div class="owl">
				<div class="wing-left"></div>
				<div class="wing-right"></div>
			</div>
		</div>
		<div class="owl-wrap char-owl2">
			<div class="owl">
				<div class="wing-left"></div>
				<div class="wing-right"></div>
			</div>
		</div>
		<div class="owl-wrap char-owl3">
			<div class="owl">
				<div class="wing-left"></div>
				<div class="wing-right"></div>
			</div>
		</div>
		<div class="owl-wrap char-owl4">
			<div class="owl">
				<div class="wing-left"></div>
				<div class="wing-right"></div>
			</div>
		</div>
		<div class="description desc-character">
			<h2>{{section2.title}}</h2>
			{{section2.body|safe}}
		</div>

		<!-- visuals -->
		<div class="visuals-animation">
			<div class="visuals-clock"></div>
		</div>
		<div class="visuals-controller"></div>
		<div class="visuals-ball"></div>
		<div class="visuals-note"></div>
		<div class="description left desc-visuals">
			<h2>{{section3.title}}</h2>
			{{section3.body|safe}}
		</div>

		<!-- translations -->
		<div class="trans-book"></div>
		<div class="trans-owl">
			<div class="wing-left"></div>
			<div class="wing-right-tip"></div>
			<div class="sausage1">
				<div class="sausage2">
					<div class="sausage3"></div>
				</div>
			</div>
		</div>
		<div class="description left desc-translations">
			<h2>{{section4.title}}</h2>
			{{section4.body|safe}}
		</div>

		<!-- explanimation -->
		<div class="expl-bg"></div>
		<div class="expl-screen">
			<iframe src="//player.vimeo.com/video/102229953?portrait=0&amp;badge=0" width="692" height="407" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<div class="expl-book1"></div>
			<div class="expl-book2"></div>
			<div class="expl-book3"></div>
			<div class="expl-glasses"></div>
		</div>
		<div class="description desc-explanimation">
			<h2>{{section5.title}}</h2>
			{{section5.body|safe}}
		</div>

		<!-- website -->
		<div class="website-layers">
			<div class="website-layer1"></div>
			<div class="website-layer2"></div>
			<div class="website-layer3"></div>
			<div class="website-layer4"></div>
			<div class="website-layer5"></div>
			<div class="website-layer6"></div>
		</div>
		<div class="description left desc-website">
			<h2>{{section6.title}}</h2>
			{{section6.body|safe}}
		</div>

		<!-- landingpage -->
		<div class="landing-bg-wrap">
			<div class="landing-bg"></div>
			<div class="landing-eraser"></div>
			<div class="landing-compass"></div>
			<div class="landing-pencil"></div>
			<div class="landing-owl"></div>
		</div>
		<div class="landing-ipad">
			<div class="viewport"><img src="/img/cases/slimleren/landing-ipad-view.png" alt=""></div>
		</div>
		<div class="description desc-landing">
			<h2>{{section7.title}}</h2>
			{{section7.body|safe}}
		</div>

		<!-- tests -->
		<div class="tests-layout"></div>
		<div class="tests-tip"></div>
		<div class="description left desc-tests">
			<h2>{{section8.title}}</h2>
			{{section8.body|safe}}
		</div>

		<!-- product prices -->
		<div class="prices-bg-wrap">
			<div class="prices-bg"></div>
		</div>
		<div class="product-price1"></div>
		<div class="product-price2"></div>
		<div class="product-price3"></div>
		<div class="description desc-prices">
			<h2>{{section9.title}}</h2>
			{{section9.body|safe}}
		</div>
	</article>

	<nav class="other-cases">
		<h2>Other cases</h2>
		<ul>
			<li><a href="/cases/kpmg" class="kpmg"><img src="/img/cases/buttons/kpmg_logo.png" alt="KPMG Meijburg &amp; Co"><span>KPMG Meijburg &amp; Co</span></a></li>
			<li><a href="/cases/ing" class="ing"><img src="/img/cases/buttons/ing_logo.png" alt="ING CDC"><span>ING CDC</span></a></li>
			<li><a href="/cases/litedark" class="litedark"><img src="/img/cases/buttons/litedark_logo.png" alt="Lite/Dark"><span>Lite/Dark</span></a></li>
			<li><a href="/cases/slimleren" class="active slimleren"><img src="/img/cases/buttons/slimleren_logo.png" alt="Slimleren"><span>Slimleren</span></a></li>
		</ul>
	</nav>
{% endblock %}
