.popover {
	position: absolute;
	z-index: 9;
	width: 420px;
	padding: 45px;
	border: 1px solid #d9d9d9;
	background: rgba(255, 255, 255, .95);
	.popover-hover {
		position: absolute;
		top: 0;
		bottom: 0;
	}
	&:after, &:before {
		content: ' ';
		position: absolute;
		top: 100px;
		width: 0;
		height: 0;
		border: solid transparent;
		pointer-events: none;
	}
	&:after {
		border-width: 8px;
		margin-top: -8px;
	}
	&:before {
		border-width: 9px;
		margin-top: -9px;
	}
	&.left {
		.popover-hover {
			right: 100%;
		}
		&:after, &:before {
			right: 100%;
		}
		&:after {
			border-right-color: rgba(255, 255, 255, .95);
		}
		&:before {
			border-right-color: #d9d9d9;
		}
	}
	&.right {
		.popover-hover {
			left: 100%;
		}
		&:after, &:before {
			left: 100%;
		}
		&:after {
			border-left-color: rgba(255, 255, 255, .95);
		}
		&:before {
			border-left-color: #d9d9d9;
		}
	}
}
