.text-slides {
	position: relative;
	margin: 76px auto 0;
	text-align: center;
	.slides-prev, .slides-next {
		position: absolute;
		margin: 200px 0 0;
		transition: opacity .3s;
		&.disabled {
			opacity: .1;
		}
	}
	.slides-prev {
		left: 0;
	}
	.slides-next {
		right: 0;
	}
	.slides-tabs {
		display: inline-block;
		padding: 0 24px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		font: 700 18px 'Ubuntu';
		letter-spacing: 3px;
		line-height: 58px;
		text-transform: uppercase;
		li {
			display: inline;
			margin: 0 0 0 110px;
			&:first-child {
				margin-left: 0;
			}
		}
		a {
			display: inline-block;
			-webkit-transition: opacity .3s;
			opacity: .2;
			&.active {
				opacity: 1;
			}
		}
	}
	.slides-contents {
		position: relative;
		max-width: 460px;
		margin: 70px auto 0;
		article {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
}
