.text-slides {
	position: relative;
	margin: 76px auto 0;
	text-align: center;
	.slides-prev, .slides-next {
		position: absolute;
		width: 41px;
		height: 66px;
		background-size: 17px 37px;
		background-position: center;
		background-repeat: no-repeat;
		opacity: .5;
		@include transition(opacity .1s ease-out);
		&:hover {
			opacity: 1;
		}
		&.disabled {
			opacity: .2;
		}

	}
	.slides-prev {
		left: -30px;
	}
	.slides-next {
		right: -30px;
	}
	.slides-tabs {
		display: block;
		margin: 0 -30px;
		border-top: 1px solid rgba(255, 255, 255, .3);
		border-bottom: 1px solid rgba(255, 255, 255, .3);
		font: 15px Ubuntu;
		letter-spacing: 3px;
		line-height: 64px;
		text-transform: uppercase;
		a {
			display: none;
			color: #fff;
			&.active {
				display: inline-block;
			}
		}
	}
	.slides-contents {
		position: relative;
		max-width: 460px;
		margin: 70px auto 0;
		article {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
	@media screen and (min-width: 768px) {
		.slides-prev, .slides-next {
			width: 35px;
			height: 75px;
			margin: 200px 0 0;
			background-size: auto;
		}
		.slides-prev {
			left: 0;
		}
		.slides-next {
			right: 0;
		}
		.slides-tabs {
			display: inline-block;
			margin: 0;
			padding: 0 24px;
			border-color: #fff;
			line-height: 58px;
			li {
				display: inline;
				margin: 0 0 0 30px;
				&:first-child {
					margin-left: 0;
				}
			}
			a {
				display: inline-block;
				color: #fff;
				@include transition(opacity .1s ease-out);
				opacity: .2;
				&:hover {
					opacity: 1;
				}
				&.active {
					opacity: 1;
				}
			}
		}
	}
	@media screen and (min-width: 1024px) {
		.slides-tabs {
			font-size: 18px;
			li {
				margin: 0 0 0 110px;
			}
		}
	}
}
